[2017-10-02 06:45] dvf opened #4 "Write Tests"
We should write some tests...

[2017-10-02 06:46] dvf opened #5 "Port to other languages"
It would be nice to see the same implementation in some popular languages:

JavaScript, TypeScript, C#, Go.

Any takers?

[2017-10-02 10:35] jayuuza commented on #5
I'll do it in c#

[2017-10-02 13:12] conmarap commented on #5
I can experiment with either the JavaScript or Go versions.

[2017-10-02 15:29] HintikkaKimmo commented on #5
I am planning to create a Go version, but it might be ugly. I am just learning Go and as I am also interested on Blockchains this seems like a nice project

[2017-10-02 15:39] conmarap commented on #5
@HintikkaKimmo I can give you a hand if you need it, but since you want to do Go I'll do JS.

[2017-10-02 16:23] dvf commented on #5
@conmarap Rust is awesome!

Let's put the implementations in top level folders: `/rust`, `/python`, `/csharp`, `golang` etc...

[2017-10-03 11:17] cdax commented on #4
I'm willing to pick this up. Planning to use https://docs.python.org/3.6/library/unittest.html I'll start working on a list of test cases, I'll share them with all of you here when I'm done.

[2017-10-04 15:19] vishesh1042 commented on #5
I'll try to get it done in Node.

[2017-10-05 14:08] crisadamo commented on #5
@dvf I already made a PR with a GO implementation, chack it out.

[2017-10-05 17:54] visini commented on #5
Looking forward to the JS implementation, as I'm learning javascript and blockchain it would be an awesome project for studying purposes! Many thanks to everyone for putting in the effort.

[2017-10-05 17:56] conmarap commented on #5
I'll look into it this weekend, if nobody beats me to it. Otherwise I can do a different language.

[2017-10-07 17:40] dvf commented on #5
It looks like there's a few pulls in other languages! 🍾

Unfortunately I'm not an expert in all of them (or even some of them). It would be great if folks would help out by reviewing.

[2017-10-07 22:10] 2gotgrossman opened #10 "Proofs Don't Depend on the Hash?"
Looking at the code, it looks to me that the proofs don't depend on the hash of a block. Couldn't I change the block and rehash everything?

So I could change transaction information, change the 'previous_hash' accordingly, and then leave the proofs the same?

The crux of the matter seems to be that the validity of the proof only depends on the current proof and the last_proof. No where does it de

[2017-10-08 03:40] JungWinter commented on #10
In general blockchain, not just the `proof`(called `nonce`), but also other parameters (like `timestamp`, `merkle root`, `previous block hash` etc.) is hashed and check whether starting with "0000". But this is just the simple proof of work algorithm, So it checks only `last_proof` and `proof`.
Additionally, the validity of blockchain is verified in `valid_chain` method. `self.hash(last_block)` me

[2017-10-08 04:30] 2gotgrossman commented on #10
But theoretically, I could change a block and modify the 'previous_hash' to correspond to my change and modify the chain, correct?

So after a quick test, it looks like the `proofs` (or `nonces`) will always follow the order 100, 35293, 35089, 119678, 146502, 43538, 85724, etc. No matter what transactions you input. It seems like it would be pretty easy to fake transactions.

For educational purpo

[2017-10-08 06:00] ashleyniemerg commented on #10
Yes, now the hashes depend on the proofs, but not vice versa. Someone pointed this out in a comment on the Medium article too: https://hackernoon.com/learn-blockchains-by-building-one-117428612f46

So this is enough to fix it?

    def proof_of_work(self, last_proof):
        """
        Simple PoW algo:
        Find a number p' (new proof) s. t. hash(pp'h) contains 4 leading zeroes, where p is th

[2017-10-10 00:35] dawran6 commented on #4
Hey @cdax I'd like to help too. Perhaps I could share some of tasks. If you haven't started, I could to pick this up too.

Also, personally I prefer [PyTest](https://docs.pytest.org/en/latest/) just because of familiarity. Though I know it'll add extra dependencies into the project, they are just for developer use case so I don't really worry about it. What's your thought? @dvf @cdax

[2017-10-10 07:02] laooduu opened #13 "how to run it on windows"

[2017-10-10 10:55] JungWinter commented on #13
Using `pipenv` to install requirements and run.
If you want, use `docker` and run more easily.

[2017-10-12 03:58] #13 closed

[2017-10-12 13:00] skidzo opened #14 "improve documentation"
Your docstrings need improvement::

    :param last_proof: <int> Previous Proof
    :param proof: <int> Current Proof
    :return: <bool> True if correct, False if not.

this is a bit weired, if you consider sphinx, which is the default, you would write it like this::

    :param last_proof: previous proof
    :type last_proof: int
    :param proof: current proof
    :type proof: int
    :rtype: b

[2017-10-14 15:02] rupe120 opened #15 "Trouble with pipenv on MacOS"
I was following the recommended steps to setup the project with pipenv, but pipenv is somehow not being installed into the path.

I tried `pip install pipenv` with and without `sudo` on MacOS, with no luck. The install appears successful, but I only get "command not found" when I try to run pipenv

Any suggestions?

(As a side note, how do I attach a label to an issue? I saw the suggestion to add

[2017-10-14 15:54] Endogen commented on #15
Maybe you have more then one Python version installed and installed pipenv with another version then you run the code?

[2017-10-14 17:36] rupe120 commented on #15
That was it. I had to run pip3 and not pip. With the requirement of Python 3.6 I'm surprised that more people haven't commented on the steps to setup the environment referencing pip instead of pip3

[2017-10-14 17:49] Endogen commented on #15
The thing is, for you it's `pip3`, for me it's `pip3.6` for other folks it can be `pip`. That is not something that is the same for all users. I think it would be a bit clearer if the README used `pip3` bis since it's not always that...

[2017-10-14 17:51] Endogen commented on #15
Please close the issue if you feel that your question is answered

[2017-10-14 18:00] rupe120 commented on #15
Got it, thanks

[2017-10-14 18:00] #15 closed

[2017-10-14 20:30] dvf commented on #14
Thanks, do you mind submitting a PR?

[2017-10-14 20:33] dvf commented on #10
I think that in my quest for making things as simple as possible, I let this one slip through the  cracks. The PoW was pretty simple, and adding the hash to the algorithm makes the chain of proofs inseparable from the blocks.

Thanks all 👍

[2017-10-15 08:54] skidzo commented on #14
ok

[2017-10-15 18:38] mixartemev commented on #5
I started make it on php implemented on Yii2 Framework
https://github.com/mixartemev/yii2-blockchain

[2017-10-18 13:19] Endogen commented on #10
Can we expect this to be merged anytime soon?

[2017-10-18 14:52] #14 closed

[2017-10-18 15:37] stevenpack commented on #10
This is awesome. @dvf you did a great thing publishing that article. In the same way you say you don't really understand something until you code it, the same is true here. The difference between grokking the security hole @2gotgrossman points out when you've actually coded along is so different to just understanding it an an academic level.

Great stuff.

[2017-10-18 17:21] bhaveshAn opened #21 "Include tests consisting of unittest, Pytest and Flake8"
There is a need to add implementation of unittests, Pytest and Flake8 in this project.

**Yes, I would like to work on this issue**

[2017-10-18 17:26] bhaveshAn opened #22 "Add Continuous integrations like TravisCI, HoundCI and Codecov."
There is a need to add implementation of following CIs in this project.
* Travis
* Hound
* Codecov

**Yes, I would like to work on this issue**

[2017-10-19 07:46] sigoden opened #23 "should resolve_conflict reset current_transactions after replaced the chain?"
[code]

[2017-10-19 18:38] dvf commented on #23
Possibly not. In the follow up article I'm writing this is not the case.

[2017-10-19 18:38] dvf commented on #22
Yeah, I agree. Let's do it.... but that means we'll need some tests first.

[2017-10-19 18:39] dvf commented on #21
Let's stick with `unittest` since it's in the standard library

[2017-10-24 02:45] pony-maggie opened #25 "an error in typing hint"
`
@property
    def last_block(self) -> Dict[str : Any]:
        return self.chain[-1]
`

should be:

`
@property
    def last_block(self) -> Dict[str , Any]:
        return self.chain[-1]
`

[2017-10-24 04:31] stevenpack commented on #5
I've done rust https://github.com/stevenpack/learnnet.

How do you want to do it @dvf ? Accept PRs into a top level folder? Or just have a file with links to the relevant repo's?

[2017-10-24 04:33] stevenpack opened #26 "Stand it up somewhere"
Hey @dvf, have you thought about putting up on Digital Ocean or somewhere? I thought it could be fun to have a few nodes up and running.

Interestingly, you start having to solve issues of bootstrapping and discovery once you do that - just like a real blockchain!

[2017-10-25 02:42] dvf commented on #26
Would you like to help out?

[2017-10-25 02:43] #23 closed

[2017-10-25 03:04] stevenpack commented on #26
Yup. I'm keen. I'll be straight on to the rust impl for part 2 as soon as you post it and I'd love for these nodes to starting talking to each other... and start blowing up because the API isn't properly defined and then we think about what that looks like!

I haven't implemented a Gossip protocol before either, so I'm super-interested to see how it works. In  implementing the rust version, the fi

[2017-10-25 03:24] dvf commented on #26
That's very cool!

I was thinking about hard-coding a genesis block, with some dummy transactions signed with the cert for the host... as well as a few A records for some nodes. Open to suggestions here :)

[2017-10-26 07:05] capacitate opened #27 "Error TypeError: new_block()"
Thank you for the kind [article](https://hackernoon.com/learn-blockchains-by-building-one-117428612f46)

I enjoyed it and tried to reproduce it and play it

I got this error

I used python==3.6.3, Flask==0.12.2, and requests==2.18.4

    block = blockchain.new_block(proof)
TypeError: new_block() missing 1 required positional argument: 'previous_hash'

[2017-10-26 16:45] hanhha commented on #26
Wow, I was thinking about something like a dedicated node (or server) to store a list of nodes, every new nodes needs to register to that node only. Other nodes will do the same sequence of mining, fetching the list from that server, resolving. It seems that you are discussing about similar stuff, in a deeper level 😄

[2017-10-26 18:12] stevenpack commented on #26
Yeah blcokchains are meant to be decentralized, so the challenge is how to
learn about other nodes without relying on a central point of failure.

DNS is pretty resilient, so feels like a decent choice.

On Thu, Oct 26, 2017 at 9:45 AM Ha Minh Tran Hanh <notifications@github.com>
wrote:

--

[image: face_with_text_black] <http://koalasafe.com>

*Easier parenting. Healthier kids.*

(510) 309-4328 |

[2017-10-26 20:01] krystianity commented on #26
A dedicated node that manages a list and registers new nodes is a not a good idea in terms of decentralization. Every node should probably inform every other node about its existance, with a few starting points for new nodes, based on DNS.

Checkout this related bitcoin answer [for example](https://bitcoin.stackexchange.com/questions/3536/how-do-bitcoin-clients-find-each-other).

[2017-10-26 20:10] krystianity commented on #26
Funny thing in addition, is this [bitcoin-seeder](https://github.com/sipa/bitcoin-seeder), a crawler for bitcoin nodes that refreshes their status.

[2017-10-27 15:02] shubhamoy opened #29 "Docker Container Fails to Run"
I tried to run the docker container after a successful build and ran into this error:

[code]
Please help. TIA

[2017-10-27 15:07] pinnamur commented on #29
I'm seeing the same error. It is triggered by latest merged PR.

[2017-10-27 16:17] floscha commented on #29
Like the traceback suggests, the error is caused by a typo in line 135. Instead of
`def last_block(self) -> Dict[str: Any]:`
this line should be
`def last_block(self) -> Dict[str, Any]:`.

Also, for this fix to work, you have to change the Dockerfile from pulling the GitHub repo to using your local code. So simply comment out this line:
`&& git clone https://github.com/dvf/blockchain.git /app \`
a

[2017-10-27 17:14] shubhamoy commented on #29
Thanks a ton :) It worked like charm!

[2017-10-27 17:14] #29 closed

[2017-10-27 19:15] Endogen commented on #29
This could have been fixed already. There is a PR for that issue: https://github.com/dvf/blockchain/pull/30

[2017-10-27 19:21] Endogen commented on #27
There is already a PR for that: #30 It's just that @dvf didn't merge it yet

[2017-10-27 19:24] Endogen commented on #25
There is already a PR for that: #19 It's just that @dvf didn't merge it yet

[2017-10-28 01:34] capacitate commented on #27
@Endogen, Yes you're right. The line number 135 issue was already solved by PR #19.

but, I got another error when playing with postman to send Get request to "mine"

so, I add empty list to the "new_block" function.

Thank you for pointing out 👍

[2017-10-30 04:52] dvf commented on #27
This is fixed in https://github.com/dvf/blockchain/pull/35

[2017-10-30 04:52] #27 closed

[2017-11-01 06:21] pony-maggie opened #37 "Add golang implementation"
https://github.com/pony-maggie/blockchain

[2017-11-01 15:32] dvf commented on #25
I've merged #19

[2017-11-01 15:32] #25 closed

[2017-11-01 16:11] dvf commented on #26
@krystianity I've been playing with some prototypes for Part 2 of the tutorial. I can't see a way to avoid having some seed node as a starter—given the relatively small size of folks playing around with this toy example.

If you'd like to help out, I've set up a Slack: https://join.slack.com/t/nyc-crypto/shared_invite/enQtMjU5MTM5ODI4MjI5LTNhODI4OTViYzllNDM0ODhmNDllMjkxYjI3ZTk5YmNmMGE4YTlhMWU5MTNl

[2017-11-01 20:10] stevenpack commented on #26
I propose doing like (I roughly understand) how bitcoin does it:

- Have some hardcoded domains in the client that the core commit team have control over. E.g.:

nodes.blockchain.club
nodes.alt-blockchain.download
nodes.alt2-blockchain.xyz

These are all cheap domains and populated with A records of the known nodes, such that:

dig nodes.blockchain.club
A 10.10.10.1
A 192.16.2.1
A 108.2.2.1

Where

[2017-11-02 11:55] hskang9 opened #39 "Data analysis from the chain"
I think it would be great to display the current information from the blockchain such as the number of users, transactions, and coins within the process.

[2017-11-02 15:45] Endogen commented on #39
Great idea! I would also like to see that. Would be nice to visualize that data somehow. Any idea how that could be done?

[2017-11-02 17:49] stevenpack commented on #39
I personally don't think that makes sense for the core blockchain. It already returns the entire chain. You could have an analysis node or a visualization node download the data and then provide those services. [SRP](https://en.wikipedia.org/wiki/Single_responsibility_principle).

[2017-11-02 19:57] Endogen commented on #39
Ok, true. I also think that this should not be part of the core blockchain.

[2017-11-03 08:10] hskang9 commented on #39
We may see it on part 2 though.

[2017-11-08 19:00] skidzo commented on #14
will you merge the PR #17 ?

[2017-11-10 08:17] nipe0324 opened #40 "Add ruby implementation"
https://github.com/nipe0324/simple-blockchain-rb

[2017-11-10 08:17] nipe0324 commented on #40
finised

[2017-11-12 21:38] dvf commented on #39
@hskang9 I'm busy working on Part 2 and if there's time we can include a web-component to it.

[2017-11-12 21:38] #39 closed

[2017-11-12 21:38] dvf commented on #37
Hey @pony-maggie can you submit a PR and put it in `/golang`?

[2017-11-12 21:38] #37 closed

[2017-11-12 21:39] dvf commented on #10
@2gotgrossman can you rebase and add your changes? Looks good. 👍

[2017-11-12 21:40] dvf commented on #22
I've added some tests and added Travis Integration 👍

[2017-11-12 21:40] #22 closed

[2017-11-12 21:42] dvf opened #42 "Call for more tests"
I've added some basic tests with Travis, but we still need to test the Proof of Work algorithm.
If anyone would like to help out please feel welcome!

[2017-11-12 21:55] dvf opened #43 "Part 2 RFC: Implementation Roadmap"
I'm working on Part 2. So I thought I'd share a bit of the roadmap. I'm aiming on publishing sometime in the next week but still have a few hurdles and could use your expertise.

Hop on to [our Slack](https://join.slack.com/t/nyc-crypto/shared_invite/enQtMjcwNTMxMzA3MjMzLWI5OWMwYTZkMmQ2MGJjNjcxYjVkOWM0MWJiNTQ4NWVhNmM5MzVmMzM2OTM1NjQ5MWM0OGNjZWJhZDdmMTk1OWE).

- [x] **Basic Contract (P2P Protocol)*

[2017-11-12 21:57] dvf commented on #4
Hey @dawran6 I've written some basic tests, feel free to pick up.

[2017-11-12 21:57] #4 closed

[2017-11-13 18:37] bbiskup commented on #5
I'm working on a [C++ version](https://github.com/bbiskup/blockchain-dvf) (early stages; no tests yet).

[2017-11-16 19:17] davesie opened #45 "AttributeError when registering a node"
Hey,

All dependencies are installed:

![image](https://user-images.githubusercontent.com/20534071/32912686-18b00842-cb10-11e7-9925-8306443533db.png)

If I run two nodes and I want to register one to the other, I get this error:
`AttributeError: 'NoneType' object has no attribute 'get'`
I use Postman and do a `POST` to `http://localhost:5000/nodes/register`
With this body:
[code]

I started the no

[2017-11-17 16:57] #45 closed

[2017-11-21 15:39] hskang9 commented on #5
I have done it on javascript [here](https://github.com/hskang9/blockchain-javascript)!

[2017-11-21 15:40] hskang9 commented on #5
However, you need to merge my PR before I make new one for this.

[2017-11-23 19:09] StrattonStudios opened #48 "TypeError on Postman POST request"
Awesome project/blog.

Has anyone ran into the following error? First time Postman user so i have a hunch im not using the ui correctly...

Thanks in advance,
G

TypeError: argument of type 'NoneType' is not iterable
127.0.0.1 - - [23/Nov/2017 13:56:27] "POST /transactions/new HTTP/1.1" 500 -
[2017-11-23 13:57:17,723] ERROR in app: Exception on /transactions/new [POST]
Traceback (most recent call

[2017-11-23 19:10] StrattonStudios commented on #48
Function throwing error:

`def new_transaction():
    values = request.get_json()
    response = {
        'message': "Missing values",
    }

    # Check that the required fields are in the POST'ed data
    required = ['sender', 'recipient', 'amount']

    if not all(k in values for k in required):
        return jsonify(response), 400

    # Create a new Transaction
    index = blockchain.new_tr

[2017-11-23 19:19] StrattonStudios commented on #48
Closed:

Postman: Headers > contenttype needs to be checked off.

[2017-11-23 19:19] #48 closed

[2017-11-24 10:31] TimelessP opened #50 "Length field validity not checked during consensus"
The /chain request handler could lie about its own chain's length being longer than the actual number of items in the chain because the consensus code doesn't check that the number of items matches the length field value. Theoretically, this could be used to impose one's own chain on all nodes. Effects might include: falsifying transactions and deletion of transactions for profit.

Full disclosure

[2017-11-27 18:38] ReyHaynes commented on #5
@hskang9 Good job on the JS port!

[2017-11-28 16:37] fridokus commented on #10
Not sure, but shouldn't also the hash of the pending transactions be included in the proof? Imagine this scenario:
Node A finds `proof` and writes block 100.
Using this `proof`, Node B can just take that proof and rewrite block 100, forking his own chain with block 99 as the common parent. On this chain, he will receive the mining reward. Then he can start mining on that chain, and if he finds blo

[2017-11-28 16:42] dvf commented on #10
@fridokus Thanks for this. I'm very much aware of this issue. And it's being address in the follow-up article I'm writing.

Unfortunately, I didn't want to dive too deep. I just wanted people to get the gist of what blockchains are about. You're free to submit a PR to fix it.

[2017-12-04 21:38] jchimienti89 commented on #10
Would it be too much to add in variable difficulty?

I initialized difficulty at 4 and made a PutMapping for someone to change

[code]

[code]

[2017-12-06 14:04] jchimienti89 commented on #10
I have attempted to make the merkle root

[code]

But I am confused on how to construct the merkle root of genesis block

[code]

[2017-12-08 18:48] imvaibhav28 opened #53 "Cant access localhost"
:blockchain-master Vaibhav$ docker run --rm -p 80:5000 blockchain
 * Running on http://0.0.0.0:5000/ (Press CTRL+C to quit)
172.17.0.1 - - [08/Dec/2017 18:46:05] "GET / HTTP/1.1" 404 -
172.17.0.1 - - [08/Dec/2017 18:46:11] "GET / HTTP/1.1" 404 -

Tried everything from 127.0.0.1:80 to localhost:5000

But everytime i get same 404 error.
Not Found

The requested URL was not found on the server. If yo

[2017-12-08 18:49] imvaibhav28 commented on #53
OS: MacOS Sierra 10.12.1

[2017-12-08 23:53] Zero-1729 commented on #53
That is expected. You get an Error 404 message each time you make a GET request to http://127.0.0.1:5000 or http://localhost:5000 because nothing is being served from the default route '/'. The only available links according to the source code are '/chain',  '/mine', etc.

Re-run the script again and try either http://127.0.01:5000/chain or http://localhost:5000/chain. You should now be able to se

[2017-12-10 16:45] imvaibhav28 commented on #53
Hey thanks for replying.
But the issue still persists

docker run --rm -p 80:5000 blockchain
 * Running on http://0.0.0.0:5000/ (Press CTRL+C to quit)

and still not able to load

This site can’t be reached

localhost refused to connect.
Search Google for localhost 5000 chain
ERR_CONNECTION_REFUSED

[2017-12-10 19:07] Logic-gate opened #54 "Question | Not an issue"
Hey,

Just out of pure curiosity, if I were to add a `data` field to the block, what would be the adequate minimum size limit that would work without breaking the internet? I say size and not length because I am interested in storing chunks of binary(3-5mb) each. Is this even possible?

Cheers,

[2017-12-10 20:54] Zero-1729 commented on #53
Hmm :thinking: Running the script locally on my machine I get the following

![screenshot](https://user-images.githubusercontent.com/23586626/33809118-b8574894-ddf1-11e7-981b-72258f72fcde.png)

From making these requests
![screenshot1](https://user-images.githubusercontent.com/23586626/33809117-b80798f8-ddf1-11e7-96e2-deab1c18ff26.png)

Though I am not too seasoned with Docker I managed to do some

[2017-12-15 09:24] dvf commented on #54
I'm guessing you mean a maximum size limit. Since we're just using plain old HTTP and Flask, it really depends on how you're planning to host this in production. I suggest running Flask behind gunicorn and nginx.

You can then define these limits in gunicorn and nginx:

- gunicorn: http://docs.gunicorn.org/en/stable/settings.html
- nginx: https://stackoverflow.com/questions/26717013/how-to-edit-ng

[2017-12-15 09:24] #54 closed

[2017-12-15 09:47] dvf commented on #50
@TimelessP the resolve function doesn't care about advertised length: it still brute-forces the validity of the entire chain and counts it as it goes. I may be wrong, but do you mind stepping through the `/resolve` endpoint and checking that there is in fact a bug?

Happy to re-open.

[2017-12-15 09:47] #50 closed

[2017-12-15 09:54] dvf commented on #53
AFAIK you need root to listen on port 80. Can you try `docker run --rm -p 8000:5000 blockchain` instead?

[2017-12-15 13:09] TimelessP commented on #50
@dvf apologies for not being clearer about which code was at fault; the fix should be fairly simple:
https://github.com/dvf/blockchain/blob/4010cf3273e19146a9cd7b37cf355cb751ffef88/blockchain.py#L82
Currently it reads:
`if length > max_length and self.valid_chain(chain):`
I suggest a change as follows:
`if length > max_length and self.valid_chain(chain) and length == len(chain):`
(and then of cour

[2017-12-15 14:16] TimelessP commented on #50
In hindsight, I'd move the comparison to before the valid_chain() call so as to save time on invalid chains. To be even clearer to those porting this code to other languages one might even consider explicitly putting brackets around the comparisons so that the order of evaluation is read as being important.

[2017-12-15 14:38] dvf commented on #50
Thanks @TimelessP do you mind submitting a PR?

Sent from my iPhone

[2017-12-15 15:26] #53 closed

[2017-12-15 16:01] TimelessP commented on #50
pass.

[2017-12-31 23:37] TerribleDev commented on #5
@dvf would a fortran implementation be welcomed?

[2018-01-05 13:15] abitofco opened #55 "ModuleNotFoundError: No module named 'requests'"
Hello,

I am a n00b at python and I C&P blockchain.py into a file on my Ubuntu server running on an OrangePi PC.  The OS is Armbian with Ubuntu Server 16.04.  I followed the tutorial on HackerNoon as well.

The error:

File "blockchain.py", line 7, in <module>
  import requests
ModuleNotFoundError: No module named 'requests'

Any ideas would be helpful, I really like how this integrates HTTP reque

[2018-01-05 13:26] bcambel commented on #55
`pip install requests`

[2018-01-05 14:24] abitofco commented on #55
bcambel,

Thank you for the reply!  Sadly I have followed the README already and just did a clean install and followed the steps again, still no luck and same error.  I also did `pip install requests` and got "Requirement already satisfied" on the 5 items it lists. Retried `pipenv run python blockchain.py` and got the same error again.

n00b question, the `pipenv install` doesn't need anything aft

[2018-01-05 15:13] bcambel commented on #55
@abitofco I think the missing step is after the `pipenv install` you have to run `pipenv shell` which will activate the virtualenvironment

[2018-01-06 02:10] abitofco commented on #55
@bcambel I ran `pipenv shell` and still got the same error.  I will try this on a full version of Ubuntu Server running on a laptop, not an OrangePi, it's too bad the OrangePi's are cheap lol

[2018-01-06 14:41] Endogen commented on #55
This could be a problem with different Python versions: If you installed the module, then i guess for a different Python version then you run the script with. If you installed it via `pip` then please see the output from `pip --version` and compare the Python version that is mentioned there with the Python version you run the script with. If you run it with `python blockchain.py` then check the Py

[2018-01-06 15:10] abitofco commented on #55
@Endogen I'm not sure which module you are referring to.

`pip --version` returns Python2.7; `python --version` returns Python2.7.12

When I installed Python3.6 I found and followed these instructions:
`sudo add-apt-repository ppa:jonathonf/python-3.6
sudo apt-get update
sudo apt-get install python3.6`

I then did `sudo apt-get install python-pip` and then installed setuptools and pipenv.

[2018-01-10 18:44] abitofco commented on #55
I have this running on 2 OrangePi's now.  It turns out I needed to run `sudo pip install requests` and `sudo pip install flask`

[2018-01-10 18:44] #55 closed

[2018-01-10 18:53] abitofco opened #57 "/nodes/register & /transactions/new- 405 Method Not Allowed"
I have blockchain.py running on 2 OrangePi Ubuntu servers.  I am eager to see the 2 synchronize but am having trouble doing so.

I can mine and view the chain with no problems.  I created a bunch of blocks on 1 server and want to get the other server synced. When I try to access /nodes/register and /transactions/new I get a 405 Method Not Allowed - The method is not allowed for the requested URL.

[2018-01-11 04:18] abitofco commented on #57
I understand why I am getting these errors, I am typing in http://xx.xx.xx.xx/nodes/register which needs to be POST but is coming from the browser as GET.  How do I POST to these?

[2018-01-11 04:23] #57 closed

[2018-01-11 12:30] CreativeMaladjustment commented on #43
Seems the slack invite has expired. Would you be able to send another one? I think another item for implementation is adding senders/receivers or wallets. I am not so sure that is missing as much as not discussed.

[2018-01-23 23:04] Endogen opened #61 "Jesus christ, just merge all the god damn shit!"
@dvf I really hope you're not working in real life like you do here... 19 open pull requests? You wanted collaboration and got it - seems like you don't know what to do with it!

Really, i understand that this is your project and you don't have to do anything you don't want to but then state that. That's not what you did. You requested ports and you got them. Now it's your turn(?). TIME TO MERGE B

[2018-01-23 23:47] dvf commented on #61
Hey @Endogen

Some of the ports are lacking tests and peer reviews. I've mentioned that on some of them. I've also added a call for collaborators to help review these ports as I'm not an expert in other languages and I'd feel more comfortable if others took a second look. I'm also questioning whether it's a better idea to link to other projects in the README instead of hosting ports that can't be

[2018-01-23 23:51] dvf commented on #61
I'm going to leave this issue open, if anyone would like to help out:

- Increase test coverage
- Reviewing PRs

[2018-01-23 23:53] #21 closed

[2018-01-23 23:53] dvf commented on #26
@stevenpack if you'd like to help out, take a peak at `partii-sanic`

[2018-01-23 23:53] #26 closed

[2018-01-23 23:54] dvf commented on #40
Can you create a PR?

[2018-01-23 23:54] #40 closed

[2018-01-24 00:18] Endogen commented on #61
I think this project just doesn't hold up to the expectations i had in the beginning. I'm not saying you fucked up completely but helping out in this is kind of like running against a wall... The third time you do it, you realize it's better to bypass it.

[2018-01-24 04:54] #61 closed

[2018-01-24 05:04] dvf commented on #10
This is fixed by https://github.com/dvf/blockchain/pull/11

[2018-01-24 05:04] #10 closed

[2018-01-24 05:05] dvf commented on #5
If you make a port, please make a PR linking to it in the README file instead of including it in the repo.

[2018-01-24 05:05] #5 closed

[2018-01-24 05:06] #42 closed

[2018-01-26 12:51] soundreactor commented on #43
any updates on this? can't wait to read the next article

[2018-01-26 20:03] SalvorinFex commented on #61
@Endogen you're an ass!
Just because people don't work on things according to your timetable, doesn't call for crass and inflammatory remarks.  You need to chill out, dude!

[2018-01-26 20:24] Endogen commented on #61
I wrote what i felt and i stand by it.

Was it to hard? Yep. Was it inappropriate? Maybe. Do i care? Nope. Is it ok to use the language i used? Well, for me, i actually like to talk like that. Not all the time, but if i feel like it, i will do it. And you know what, if you feel offended by it, then i think you should really thing about why you feel offended by someone that you don't know and that

[2018-01-26 21:49] SalvorinFex commented on #61
I get it, we all have frustrations from time to time.  This isn't just some forum, though, there's more of a professional atmosphere here, but I am glad you came around to realizing that.

[2018-01-27 01:21] dvf commented on #61
@Endogen you sound like you’re 12 years old. Learn to speak to people with respect. I have a full time job, and have a limited time to help folks. If you enjoyed the tutorial then try contribute instead of whining about your point of view.

I’ve had a call for collaborators issue up since this project started and nobody has applied. And the implementation roadmap was opened weeks ago if you bother

[2018-01-27 15:36] Endogen commented on #61
Who tells you i'm not 12 years old? xD

[2018-01-27 16:11] Endogen commented on #61
No honestly, i do not think that i have to learn to speak to people with respect. I think i'm pretty good at that already. It's just that i speak with respect to people that i respect, you know. And only to them.

But i guess we all can agree on the fact that there is nothing more to say on this matter, since this discussion doesn't add to anything related to this project (as you demanded, i will

[2018-01-30 17:46] awt135 opened #64 ""resolve_conflicts" is not easy to run with condition"
"I then mined some new Blocks on node 2, to ensure the chain was longer. Afterward, I called GET /nodes/resolve on node 1, where the chain was replaced by the Consensus Algorithm:"

i follow the steps, but redo the several times , the code cant run to  “  'message': 'Our chain was replaced',”， it seem like some anything wrong “replaced = blockchain.resolve_conflicts()” ？

dont understand when i ru

[2018-01-31 23:23] yoongu opened #65 "Logical error in ``valid_chain()``"
There seems to be an error in the following line of code: https://github.com/dvf/blockchain/blob/master/blockchain.py#L58

The third parameter should be ``block['previous_hash']``, not ``last_block['previous_hash']``.

[2018-02-01 05:11] YiningQin opened #66 "resolve_conflicts() does not work because of an error at Line 58 of def valid_chain(self, chain)"
resolve_conflicts() does not work because there is an error of 58 line.

https://github.com/dvf/blockchain/blob/master/blockchain.py#L58
...
  if not self.valid_proof(last_block['proof'], block['proof'], last_block['previous_hash']):
...
should be
...
  if not self.valid_proof(last_block['proof'], block['proof'], block['previous_hash']):
...
the parameter "last_block['previous_hash']"  is wrong, s

[2018-02-01 16:09] awt135 commented on #66
thx~ , i am just testing it~

[2018-02-01 17:32] awt135 commented on #66
it  works ~  but  it seem like the list replace process have spend a long times 。。。may be other data structure  or  language  can  do the better

{
    "message": "Our chain was replaced",
    "new_chain": [
        {
            "index": 1,
            "previous_hash": "1",
            "proof": 100,
            "timestamp": 1517505668.5796278,
            "transactions": []
        },
        {

[2018-02-01 20:29] Philipthesecond commented on #66
Thanks Yin - resolve_conflicts() didn't work for me either and I could see there was an issue with the way it was checking for a valid chain and this seems to solve it!

[2018-02-01 20:54] panduit-ccgr commented on #61
Hi, when I attempt to run the code in master I get and error
File "/Users/cgriffin1/Downloads/blockchain-master/blockchain.py", line 7, in <module>
    import requests
ModuleNotFoundError: No module named 'requests'

Where can I find the requests module?

[2018-02-02 05:29] YiningQin commented on #66
You are welcome. Replace process time depends on your network or your
httprequest software (postman is slow). It is very quick on my machine.

Yining

On Thu, Feb 1, 2018 at 9:32 AM, awt135 <notifications@github.com> wrote:

[2018-02-02 05:30] YiningQin commented on #66
:)
Yining

On Thu, Feb 1, 2018 at 12:29 PM, Philipthesecond <notifications@github.com>
wrote:

[2018-02-02 15:56] panduit-ccgr opened #67 "Where is the 'Request' module?"
I get the following error

  File "/Users/cgriffin1/Desktop/blockchain-master/blockchain.py", line 7, in <module>
    import requests
ModuleNotFoundError: No module named 'requests'

[2018-02-02 21:28] dvf commented on #67
@panduit-ccgr You need to do `pip install -r requirements.txt`

[2018-02-02 21:28] #67 closed

[2018-02-08 12:22] egglang commented on #65
I am facing the same. I just sent a pull request to fix this.

[2018-02-08 17:49] brazilian-noob opened #69 "Postman - Something went wrong. And we are reporting a custom error message."
In the program Postman when I do GET    http://localhost:5001/mine, I receive the Error Message: "Something went wrong. And we are reporting a custom error message."

In the CMD on Win7 the blockchain.py is running correctly.

I'm stuck on this step.

[2018-02-09 12:57] skyepodium opened #70 "I have a questions about Blockchain class"
I read your post https://hackernoon.com/learn-blockchains-by-building-one-117428612f46
and implement with django, django rest framework https://github.com/skyepodium/blockchain_django
your post is very helpful and make easy to learn about blockchain

but i have a question
when i shut down or restart django server, Blockchain class disappeared. because of a lifecycle

summary
How can I safely manag

[2018-02-13 05:56] vishalmish opened #72 "This test case doesn't pass. Both address can't be the same to check for malformed nodes"
https://github.com/dvf/blockchain/blob/250a01c83e4b0fef4619dfdbb73146e39fcc0381/tests/test_blockchain.py#L38

[2018-02-16 10:42] Sinotov commented on #64
Maybe this will solve the problem https://github.com/dvf/blockchain/issues/66

[2018-02-18 00:31] spicyramen commented on #66
Worked for me as well.

[2018-02-20 21:40] gvanica commented on #43
hello, interested in progress here

[2018-02-24 09:19] lukedad commented on #43
Very impressed. Didn't see node register function available in current version, am i missing anything?
Interested in progress here +1!

[2018-02-25 22:15] dmkrovichmix opened #73 "Trying to reach concensus"
Trying to get concensus working but having a problem.  Not sure what I'm doing wrong.  Here are the steps I'm taking.

Pre-requisites:  Build from dockefile on two hosts, one with IP of 10.0.0.10 and 10.0.0.20.

1) Start node on 10.0.0.10
2) Start node on 10.0.0.20
3) Mine on 10.0.0.20 to ensure the chain is longer
4) Register node 2 using this command:

[code]

5) Verify that the chain is longer

[2018-02-25 22:30] dmkrovichmix commented on #73
Looked at other issues.  Same issue as #65 and the I can confirm the suggested pull request fixes the issue.  Resolving my issue.

[2018-02-25 22:30] #73 closed

[2018-03-04 07:39] LEscobar-Driver opened #74 "Invalid syntax error"
Line 50-51 in blockchain.py

print(f'{last_block}')
print(f'{block}')

My compiler reads this as invalid syntax. I have never seen python syntax like that, care to explain what it means?

[2018-03-04 07:55] jcyktor commented on #74
Those are [f-strings](https://www.python.org/dev/peps/pep-0498/) - added in 3.6.

[2018-03-04 16:53] LEscobar-Driver commented on #74
yea figured it out last night. Another formatting tool lol

[2018-03-04 16:53] #74 closed

[2018-03-05 01:58] bihdliulin opened #75 "TypeError: argument of type 'NoneType' is not iterable"
I have following  error:
ERROR in app: Exception on /transactions/new [POST]
  File "C:/Users/小草/Downloads/Compressed/blockchain-master/blockchain-master/blockchain.py", line 237, in new_transaction
    if not all(k in values for k in required):
 File "C:/Users/小草/Downloads/Compressed/blockchain-master/blockchain-master/blockchain.py", line 237, in <genexpr>
    if not all(k in values for k in req

[2018-03-05 03:50] deion1130 commented on #75
I made the following changes and the issue is solved. Please see below. I got the same error you did when I ran the program.  I believe it was caused by the get_json function not recognizing your transaction input format.

@app.route('/transactions/new', methods = ['POST'])
def new_transaction():
    values = request.get_json(force=True)
    required = ['sender', 'recipient', 'amount']
    if not

[2018-03-05 09:33] bihdliulin commented on #75
@deion1130 Thank you very much! I tried your suggestion. It works good.But another question troubles me:

1. when I debug this program with pycharm,following question appears:

Traceback (most recent call last):
  File "C:/Users/小草/PycharmProjects/untitled/block.py", line 6, in <module>
    import requests
ModuleNotFoundError: No module named 'requests'

2. when I debug this program with command l

[2018-03-05 16:33] #64 closed

[2018-03-07 09:48] nadaj commented on #75
Probably because in your PyCharm settings for the used project interpreter the package requests isn't installed. You should add it by going to Settings>Project:project_name>Project Interpreter. Click on the green plus, type 'requests' and install it.

[2018-03-07 10:22] nadaj commented on #43
Interested in part 2 and would help out!

[2018-03-11 06:54] npm-ued opened #77 "when i have some other nodes, it can't sync the block"
as the title.
when i have 2 node
http://127.0.0.1:5000
chain:
`{
  "chain": [
    {
      "index": 1,
      "previous_hash": "1",
      "proof": 100,
      "timestamp": 1520730726.336663,
      "transactions": []
    },
    {
      "index": 2,
      "previous_hash": "68017de6ce598dc398c5f0a4798dbcb89131f260347df5faed3e8b7afccdace1",
      "proof": 161458,
      "timestamp": 1520730744.8993568,

[2018-03-12 11:18] linuxhsj opened #79 "pip install pipenv IOError: [Errno 13] Permission denied"
I installed pyhton 3.6.4.But when I exec the cmd  `pip install pipenv `,I got some Exception.
`Exception:
Traceback (most recent call last):
  File "/home/linux/.local/lib/python2.7/site-packages/pip/basecommand.py", line 215, in main
    status = self.run(options, args)
  File "/home/linux/.local/lib/python2.7/site-packages/pip/commands/install.py", line 342, in run
    prefix=options.prefix_path

[2018-03-12 11:18] linuxhsj commented on #79
@dvf @2gotgrossman @rbalazs @rbalazs @jwbixby @yuribol could you help me?Thanks in advance

[2018-03-12 12:30] dvf commented on #79
This looks like a permission error with your local installation of Python. Have you tried reinstalling Python?

[2018-03-14 08:54] 18thang8 opened #80 "In function "valid_chain" is mistake"
I think you have mistake in line 58:
if not self.valid_proof(last_block['proof'], block['proof'], last_block['previous_hash']):
should be:
if not self.valid_proof(last_block['proof'], block['proof'], block['previous_hash']):

[2018-03-14 09:19] #80 closed

[2018-03-19 13:16] JeremyMet opened #81 "Strengthen the "Proof-of-work""
Hello People,
I was reading your code, what a nice little project !
I've been asking myself about the "Proof-of-Work" (PoW) part. I think PoW might be somehow broken. As far as I understand, "Proof-of-Work" is done before rewarding the miner, i.e. a node finds a solution, then a new block is created including the "proof". Finally, the node pushes a new transaction that rewards itself. But this las

[2018-03-27 09:10] zhouzhou84 opened #84 "SyntaxError: invalid syntax"
File "blockchain.py", line 50
    print(f'{last_block}')
                               ^
SyntaxError: invalid syntax

that single quote mark has some problems ,could you please help me...

[2018-03-27 14:26] GauravWaghmare commented on #43
Great work. Eager to contribute.

[2018-03-29 07:33] zhouzhou84 commented on #69
File "blockchain.py", line 50
print(f'{last_block}')
^
SyntaxError: invalid syntax

that single quote mark has some problems ,could you please help me...

[2018-03-29 07:34] zhouzhou84 commented on #43
File "blockchain.py", line 50
print(f'{last_block}')
^
SyntaxError: invalid syntax

that single quote mark has some problems ,could you please help me...

[2018-03-29 07:58] wangbinyq commented on #43
@zhouzhou84 What's your python version? `f-string` is a new syntax introduced of python 3.6.
https://www.python.org/dev/peps/pep-0498/

[2018-03-29 13:52] GauravWaghmare commented on #43
@dvf : For Transaction Verification, at what implementation are we looking at for attaching nodes with public keys?

[2018-03-30 18:57] sdpetrides commented on #84
Make sure that you are running Python 3.6+. There are installation instructions on the [README.md](https://github.com/dvf/blockchain#installation).

You can check what version you are running with the following command:
`$ python -V`
or
`$ python3 -V`

Use this command if you follow the installation instructions:
`$ pipenv run python --version`

[2018-04-01 17:22] srivkrnt commented on #79
Try running the pip command with sudo

$ sudo pip install pipenv

[2018-04-04 18:43] sunandiyer opened #86 "Method Not Allowed for /transactions/new"
I get a 405 Method Not Allowed error when running this. Did anyone else have this issue? I am running code directly pulled from this repo

[2018-04-05 20:12] JimiPedros opened #87 "NoneType error for values object in blockchain.py"
[code]

Is anyone else having this issue?

[2018-04-06 01:39] #87 closed

[2018-04-06 01:40] JimiPedros commented on #87
`values = request.get_json()`

=>

`values = request.get_json(force=True)`

[2018-04-06 01:41] JimiPedros commented on #86
update `values = request.get_json()` to `values = request.get_json(force=True)`

[2018-04-06 01:41] JimiPedros opened #88 "Can't get 2 nodes to operate on the same chain,"

[2018-04-06 01:41] #88 closed

[2018-04-06 04:35] JimiPedros commented on #77
I'm having the same issue. Can someone please update?

[2018-04-06 04:52] JimiPedros commented on #45
@davesie how did you fix this error? I cannot get 2 nodes operating on different ports to operate/sync on the same chain

[2018-04-06 09:37] JimiPedros opened #89 "Can't get to nodes to communicate on the same chain"
Hi there, when I try setup 2 nodes I cannot get them to operate on the same chain.

Does anyone have a solution to this?

[2018-04-06 09:42] JimiPedros commented on #43
Is this project still in production?

[2018-04-06 09:46] JimiPedros commented on #77
How can I get to nodes to communicate on the same chain

[2018-04-06 09:54] zhouzhou84 commented on #43
I don't konw,I am just curious about it,now it run successfully. On 2018-04-06 17:42 , James Peters Wrote: Is this project still in production? — You are receiving this because you were mentioned. Reply to this email directly, view it on GitHub, or mute the thread.

[2018-04-06 10:01] JimiPedros commented on #70
@skyepodium have you managed to get 2 nodes to communicate on one chain with unique address assigned to each? If so can you please let me know? Thanks!

[2018-04-06 14:31] severikupari1 commented on #70
Did you use different ports to each node? I had issue with that in c# project.

[2018-04-07 04:06] JimiPedros commented on #70
Yes, I am running `pipenv run python blockchain.py -p 5000` and `pipenv run python blockchain.py -p 5001` in two seperate terminals.

Could you please explain how you can setup two nodes to communicate?

I have tried everything;
- registering a node via 'nodes/register' route
- trying to connect to a node running the server on it's localhost port 5000 via it's ipv4 address i.e, `192.168.1.6:5000`

[2018-04-08 22:24] herrold opened #90 "Brute force blockchain tampering via unchecked length field (whose validity is not checked during consensus) ; absent logging"
see: https://github.com/dvf/blockchain/issues/50

The underlying exploit to tamper with a blockchain is described there

props to: @TimelessP

The fix should be fairly simple:
affected file: blockchain/blockchain.py

https://github.com/dvf/blockchain/blob/4010cf3273e19146a9cd7b37cf355cb751ffef88/blockchain.py#L82

A noted, currently it reads:

    if length > max_length and self.valid_chain(chain)

[2018-04-17 09:06] LFLcoding commented on #89
change   **if not self.valid_proof(last_block['proof'], block['proof'], last_block['previous_hash'])**  to **if not self.valid_proof(last_block['proof'], block['proof'], block['previous_hash'])**, try  again

[2018-04-19 00:43] JimiPedros commented on #89
could you elaborate how to connect two nodes on a network?

[2018-04-19 00:44] JimiPedros commented on #89
who hosts the chain, then as another computer how do I download this chain and actively contribute to mining a block?

[2018-04-19 02:15] LFLcoding commented on #89
i have only one computer,so I create two ports 5000 and 5100 simulate two computer, copy the python file to two, change they port to 5000 and 5100,now we have two address(mine is http://127.0.0.1:5000/ and http://127.0.0.1:5100/) use **/nodes/register** api to register one address to anther address, now when you add new block, use **/nodes/resolve** api  to synchronization the blockchain ,now you

[2018-04-27 05:55] dvf commented on #65
This has been fixed by #68

[2018-04-27 05:55] #65 closed

[2018-04-27 05:55] dvf commented on #69
@zhouzhou84 you need to use Python 3.6 +

[2018-04-27 05:55] dvf commented on #69
@brazilian-noob I'm not sure what's going on. Sounds like a Postman issue.

[2018-04-27 05:55] #69 closed

[2018-04-27 05:56] dvf commented on #70
@skyepodium you'll have to persist the chain to a database, or some sort of storage. Nice work!

[2018-04-27 05:56] #70 closed

[2018-04-27 05:57] dvf commented on #72
It seems to be passing. Can you clarify what you mean?

[2018-04-27 05:57] #72 closed

[2018-04-27 05:59] dvf commented on #81
You're partially correct @JeremyMet. In most blockchain implementations, the block currently being mined has a set of frozen transactions in it while the `proof` is being searched for. The block also contains the previous hash.

For the simplicity of this explanation, we'd need to implement multithreading/multiprocessing to be able to mine whilst receiving transactions.

[2018-04-27 05:59] #81 closed

[2018-04-27 05:59] dvf commented on #84
What @sdpetrides said^^

[2018-04-27 05:59] #84 closed

[2018-04-27 06:00] #79 closed

[2018-04-27 06:00] dvf commented on #86
Can you submit a PR?

[2018-04-27 06:00] #86 closed

[2018-04-27 06:01] dvf commented on #90
Yep, this seems correct.

[2018-05-01 16:08] pylyf opened #97 "Flask TypeError"
When trying to open http://localhost:5000/mine this error jumps up

127.0.0.1 - - [01/May/2018 18:00:58] "GET /mine HTTP/1.1" 500 -
Traceback (most recent call last):
"BlockChain.py", line 125, in mine
    amount=1,
TypeError: new_transaction() got an unexpected keyword argument 'sender'

I'm using Python 3

[2018-05-01 16:18] pylyf commented on #97
Oh Fixed it. Sorry.

[2018-05-01 16:18] #97 closed

[2018-05-05 07:13] leoSZN opened #102 "Part 2"
Will you come out with part 2 with Transaction Validation Mechanism?

From this link https://hackernoon.com/learn-blockchains-by-building-one-117428612f46

[2018-05-05 17:06] rraallvv opened #103 "Disincentivize mining farms, is it possible!?"
Sorry if this is the wrong place to ask this kind of questions, but this is the closest I could find to a place to discuss blockchain technologies related stuff that isn't exactly related to some specific implementation.

With that out of the way...

**If mining farms are so expensive and inefficient why are't they disincentivized?**

I'm asking because there are some cryptocurrencies that have mi

[2018-05-05 18:27] krystianity commented on #102
**If it is of any help**, I have created Typescript/JS version similar to dvf/blockchain a few days ago and added a lot of additional features to it, that dvf might add in part 2 e.g. transaction validation or p2p node communication. Feel free to give feedback or request a PR for this repository :) [(transaction validation) blockchain](https://github.com/krystianity/blockchain)

[2018-05-07 14:26] hashTagKehl commented on #43
Hello, I’m new to programming.  I’m stuck on the   Postman version. Not sure to begin, is there any suggestions where to start.  I have downloaded postman.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-07 14:27] hashTagKehl commented on #102
Hello, I’m new to programming.  I’m stuck on the   Postman version. Not sure to begin, is there any suggestions where to start.  I have downloaded postman.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-09 09:08] zmpeterson86 opened #104 "Constant 500 server errors"
None of the commands work except for printing the chain and mining. All other commands do not work.

[2018-05-09 14:17] zhouzhou84 commented on #43
I remembered there was a file in the folder which can execute with command"./ Postman", then it starts. Make sure that blockchain.py is running, then you can input"http:// localhost:5000/mine" to mine a block, other operations are same to it. On 2018-05-07 22:26 , hashTagKehl Wrote: Hello, I’m new to programming. I’m stuck on the Postman version. Not sure to begin, is there any suggestions where t

[2018-05-10 05:35] zmpeterson86 opened #105 "request.get_json() always returning None even though I followed exact instructions"
All POST requests do not work anymore. Everything worked fine a month ago, and now it doesn't. Code has not changed, instructions have been followed exactly to the letter.

[2018-05-10 05:55] Mat001 commented on #105
@zmpeterson86 I tried POST-ing new transaction. Works for me:

[code]

[2018-05-10 05:56] Mat001 commented on #105
@zmpeterson86 Can you provide details? Error messages?

[2018-05-10 07:09] zmpeterson86 commented on #105
Are you using get_json(force = True)?

[2018-05-10 07:11] zmpeterson86 opened #106 "new transactions/blocks never actually get added to the blockchain"
I startup the script, mine, register myself as a node, and then create a new transaction. The transaction never actually gets added to the blockchain. Anyone else have this problem? What can be done about it?

EDIT: I always check the chain after creating a transaction and running consensus. The new transaction doesn't appear in the chain. No error message is produced.

[2018-05-10 13:42] Baaleos opened #107 "Security?"
Just examining the code - I cannot see anything anywhere that deals with public / private keys etc.
The way the code is written at the moment, would it not be possible for someone to maliciously spoof another persons identity and empty their balance?
It looks like the transaction system just lets you specify the from and to address explicitly and it accepts the transaction to the block assuming it

[2018-05-11 03:27] Mat001 commented on #107
My understanding is that @dvf kept this code simple for demo purposes and hasn't added some other features that would be required otherwise...

[2018-05-11 05:08] ideasean commented on #107
Agree. And it does that very well.

[2018-05-13 04:52] developingcountries commented on #106
I'm having a similar issue.  I can only mine new blocks but I can't do transactions.

For I example I start by mining 2 new blocks, and here is the chain:

[code]

Then I try a transaction at the Post endpoint: http://localhost:5000/transactions/new with this json in the body:
[code]

It gives a 201 response:
[code]
I followed the instructions at https://hackernoon.com/learn-blockchains-by-buildin

[2018-05-13 04:55] developingcountries opened #108 "Transaction Not Working"
Hello, I'm having a problem where I can only mine new blocks but I can't create a transaction.
I followed the instructions at https://hackernoon.com/learn-blockchains-by-building-one-117428612f46. I'm using Postman to process the HTTP operations and I'm using the code at https://github.com/dvf/blockchain/blob/master/blockchain.py

For I example I start by mining 2 new blocks, and here is the chain

[2018-05-13 05:38] Mat001 commented on #108
@developingcountries You need to call /mine endpoint again for the new transaction to be added to block 4.
You can post as many transactions as you want. they will all go to "transactions" list. They will wait there until you mine again.
Process of mining is creating a block from transactions and validating it.

[2018-05-13 05:39] Mat001 commented on #108
What's perhaps the confusing bit is that it's possible to hit /mine endpoint when no transactions are yet created. I don't know why is that. Mining makes sense when there are transactions.

[2018-05-13 05:42] Mat001 commented on #106
@zmpeterson86 Transactions will only be added to the blockchain when you:
1. create at least one transaction
2. call /mine endpoint

/mine endpoint is designed to "mine" transactions you created. It puts them into a block and does proof of work/ validation. Then this new block will be added to the blockchain.
But if you only create new transaction and then see if it was added to the blockchain, it

[2018-05-13 22:48] zmpeterson86 commented on #108
The comment in the code says that the /mine endpoint is designed to create the genesis block, that is definitely one source of confusion

[2018-05-13 22:50] zmpeterson86 commented on #105
I was only able to get it to work using force = True. I copied your code and tried it, I always get a 500 server error

[2018-05-13 22:54] zmpeterson86 opened #109 "Blockchain does not save to local machine."
Normally, a blockchain is accessible as a file on your local machine. If you close out the script and restart it, the blockchain is completely wiped out and the previous data no longer exists. When I originally ran the code this was not the case. Can anyone comment on this?

[2018-05-14 06:00] developingcountries commented on #108
Thank you Mat001 and zmpeterson86. OK, so I did a mine first, then a transaction, and then another mine, and now it works. Thanks so much for your help.

[2018-05-14 06:00] #108 closed

[2018-05-14 07:15] #106 closed

[2018-05-14 11:55] topilski opened #110 "Without P2P?"
Hi, thank you for tutorial, how can i understand according implementation you can add nodes only in visible network?

[2018-05-14 13:07] jamesbaker1 commented on #107
https://github.com/dvf/blockchain/pull/63

[2018-05-14 18:51] vPlaceCoder commented on #103
Hello @rraallvv,

Well even if things are inefficient if they still generate profit then that is your incentive.
The main drawback from mining is paying for the Electricity.
I have spoken with different property owners and generally (in my area) they dont pay for the electrical costs. So i imagine if you had a large enough farm it would be more cost effective to use that sort of space. You would n

[2018-05-14 19:45] Mat001 commented on #103
On slightly different line.
This mining model where the miner with the most computational power wins, and the fact there is competition itself, somehow depart from the core idea of decentralization. Because now the profit is gravitating to the most powerful miners with the most electricity and optimized hardware. It's starting to smell a bit like high frequency trading to me where the most powerfu

[2018-05-14 20:46] Mat001 commented on #105
Hm, that's strange.
Maybe it's flask and requests version. I'm using the latest versions, not those specified in the tutorial.

[2018-05-15 20:41] rraallvv commented on #103
Thanks for looking into this @vPlaceCoder and @Mat001. I see your point, for a solo miner there is a huge incentive in having the most computational power out of all the miners participating in the network. I'm not sure if there is a metric for how many times two different nodes perform the same computation for the same block, but if that happens, the is a chance that the network as a whole could

[2018-05-16 02:01] vPlaceCoder commented on #103
@Mat001 You are absolutely right. The Main point for the decentralization is to not have 1 entity making all the blocks. From what i can google, this can be referenced as a "51% attack" where one group or individual controls more than 50% of the hashrate/computational power. Potentially allowing them to double spend/stop confirmations for one or numerous users.
I would say the time for equal footi

[2018-05-17 08:41] ZhuOS commented on #102
@hashTagKehl  In this project, Postman is used to communicate with the flask server.

[2018-05-17 09:36] zmpeterson86 opened #112 "transactions/new always returns 400 error"
No other error information is returned. According to postman, the method doesn't exist, even though it is clearly in the code.

[2018-05-19 22:33] zmpeterson86 commented on #109
When I originally grabbed the code two months ago I was able to close the script, restart it, and restart postman, and the previous chain would still exist. I tried getting ahold of DVF to ask where the file was being stored and he never responded. Now when I do the same procedure, nothing is stored. There are a number of functions that used to work and do not work anymore, despite the fact that I

[2018-05-25 06:35] zmpeterson86 commented on #105
Now it is not working with either method.

[2018-05-25 06:36] zmpeterson86 commented on #105
I haven't changed these parts of the code and I have not updated flask or python.

[2018-05-25 07:53] zmpeterson86 opened #113 "All post requests return 400 error"
I have not modified the code on any post requests, and I always get a 400 error. I think the problem is I can't convert the values variable into a JSON. Can anyone help? I've spent days trying to get this to work. It used to work fine and now it doesn't, even though I haven't changed anything in the code

I'm running python 3.6.2

[2018-05-25 15:54] Mat001 commented on #113
@zmpeterson86 Can you post some code or errors?
Might help in debugging.
Also are you using pipenv to set up virtualenv?
If you did everything as instructed, then you may have done either atype or something config-wise has gone wrong.
Post some code...

[2018-05-31 06:44] finchparker opened #114 "I want to contribute on this project by translate it in Korean"
Hi, I m a student from Korea who are really interested in blockchain tech.

I am in Chung-Ang university(Seoul, Korea) and recently started studying about blockchain.
And actually i m not the only one who are studying blockchain in our university.

This code and the article that you wrote in the medium is really famous among us.
(our blockchain team name is 'C-Link')
and this is our Facebook page

[2018-06-02 21:58] zmpeterson86 commented on #113
This was actually a postman problem, not a blockchain problem. I had to roll back to a previous version of postman to fix this.

[2018-06-02 21:58] #113 closed

[2018-06-02 21:58] #112 closed

[2018-06-02 21:59] zmpeterson86 commented on #109
The blockchain still doesn't save (there is no function for it in the script), but I have fixed the postman problems by rolling back to a previous version.

[2018-06-02 22:00] #109 closed

[2018-06-02 22:01] zmpeterson86 commented on #105
This has worked reliably since I rolled back to a previous version of postman and used get_json(force=True)

[2018-06-02 22:01] #105 closed

[2018-06-20 11:14] greatcz opened #116 "valid_proof()&& resolve_conflicts() may be has risk"
Splendid work！After review the blockchain.py, I suppose If a node has the chain(may be just a fake chain) which can pass the valid_proof() function and length is bigger than all the others node’s chain, when resolve_conflicts()run, all the nodes will Be synchronized as the fake chain.

[2018-07-15 10:39] ed-word opened #119 "Handling a nonresponsive node in resolve_conflicts()"
If, the node list contains a nonresponsive node, resolve_conflicts() crashes with requests.exceptions.ConnectionError exception.

[2018-07-26 00:22] d2718nis opened #122 "Fix related gist (Step 6: Setting up Flask)"
What's wrong
------
@dvf it would be great if you could fix [Step 6: Setting up Flask](https://gist.github.com/dvf/0ccdfdfd4dadf0a53a82d7a1b2438c4e) gist, it affects the workflow at the [Learn Blockchains by Building One](https://hackernoon.com/learn-blockchains-by-building-one-117428612f46) article. Also there is no way to mention someone at the gist comments, so I created this issue instead.

Ex

[2018-07-28 17:06] d2718nis commented on #116
@greatcz it would just mean that the "fake" chain is the **right one** as long as it is the longest one and can pass all the `valid_proof` checks. All the other nodes should be synchronized with it — that's the idea behind the consensus in Blockchain systems. But remember that this implementation is quite simple to demonstrate basic principles, so in a real systems this algorithm is slightly more

[2018-07-30 20:49] YellowMimic opened #123 "Some flask errors"
I get these error when i do a Post /transactions/new request. All seems to works fine when make a get /mine request
Some kind of help?

_**File "C:\Users\xxx\.virtualenvs\Scripts-GEA1qG99\lib\site-packages\flask\app.py", line 2292, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\xxx\.virtualenvs\Scripts-GEA1qG99\lib\site-packages\flask\app.py", line 1815, in full_dispatch_

[2018-07-31 02:33] d2718nis commented on #123
Most likely related: https://github.com/dvf/blockchain/issues/105

[2018-08-11 15:27] Krafty-Coder commented on #105
Did you update your request module? I once had the same issue on an API I was working on and I had to go through my commits to see what the problem was. (Problems of using virtual env wrapper for all your projects).
Solved it by downgrading it to some older version, can't really recall but I think it was 2.10, the request module contributors claimed that it was due to security issues that they mad

[2018-08-15 15:06] JonnyDaenen opened #124 "Why is last proof necessary? it is already in the hash of the last block"
Can we just drop the last proof and only use the hash of the last block to calculate an new proof?

https://github.com/dvf/blockchain/blob/2d995664bb54117fb30fbca7e11dff99fb3533c6/blockchain.py#L168

[2018-08-22 18:25] dvf commented on #122
Thanks for this!

[2018-08-31 21:59] ishandutta2007 opened #125 "pipenv install issues: TypeError: expected str, bytes or os.PathLike object, not NoneType"
ishandutta2007@MacBook-Pro:~/Documents/Projects/blockchain$ `pipenv install`

[2018-08-31 23:16] ishandutta2007 opened #126 "docker: Server running but not receiving any request"
**1st Terminal Window**
ishandutta2007@MacBook-Pro:~/Documents/Projects/blockchain$ `docker run --rm -p 80:5000 blockchain`

**2nd Terminal Window**
ishandutta2007@MacBook-Pro:~/Documents/Projects$ `curl http://127.0.01:5000/chain`

[2018-09-03 15:41] F0lamie commented on #75
I have the same issues :/
Adding args force=true for get_json functions dosen't help me at all.

DId you found the solution ?

[2018-09-10 17:04] vitya3 opened #127 "error 405"
Hi,
I'm new to blockchain.
When I try: [ip]:[port]/mine
I'm getting this error:
"[ip2] - - [10/Sep/2018 15:27:04] "POST /mine HTTP/1.1" 405 -"
How to fix it?
Regards

[2018-09-16 17:11] donburi commented on #75
@F0lamie - The solution above just yielded more problems for me. I finally fixed the issue when I specified in my API call that `"Content-Type": "application/json"`in the Header.

![screen shot 2018-09-16 at 13 10 46](https://user-images.githubusercontent.com/4899610/45598977-fa085480-b9b1-11e8-8952-0288c735e1c8.png)

[2018-09-18 20:16] CoreyCole commented on #125
I've seen this error before. I think it means pipenv cannot find python in your path. You can fix that, or you can run pipenv with the `--python` argument and specify where the version of python you want to use it located.

[2018-09-21 06:04] greatcz commented on #116
@d2718nis  thanks so much for the patient reply! I appreciate all that input. Lots of info I didn't know! Thanks:)

[2018-09-21 09:14] passionofvc commented on #126
@ishandutta2007

wrong : curl http://127.0.01:5000/chain
correct:curl http://127.0.0.1:5000/chain

http://127.0.0.1 means localhost, 127.0.01 is not a IP.

[2018-10-05 14:01] alex-manutd opened #129 "ImportError: cannot import name 'Flask'"
Hi Everyone,

Python N00b.  I have searched issues but couldn't find a solution to the same problem as mine.

I am at STEP 3: and am getting the following error when I run python3.6 blockchain.py:

(It could be relevant that I haven't installed Postman yet.)

Traceback (most recent call last):
  File "blockchain.py", line 7, in <module>
    from flask import Flask, jsonify, request
ImportError: ca

[2018-10-08 21:32] smouli commented on #129
try: pip install flask

[2018-10-13 12:52] nmilo commented on #110
@dvf is working on this, with his part 2.

[2018-10-15 03:52] trbryant97 opened #131 "Cant run the server with pipenv"
Using pipenv run python blockchain.py and it runs the server on http://0.0.0.0:5000/. Everytime I go to the page I get a "This site cannot be reached". Am I doing something wrong?

![image](https://user-images.githubusercontent.com/42814568/46929172-36a88980-d00c-11e8-8fc2-6a330ed782b8.png)

[2018-10-15 03:55] trbryant97 commented on #131
![image](https://user-images.githubusercontent.com/42814568/46929261-a0c12e80-d00c-11e8-9c56-4dd3e043b3c9.png)

[2018-10-15 04:05] #131 closed

[2018-10-15 04:05] trbryant97 commented on #131
Ran localhost:5000 fixed

[2018-10-15 12:18] MyMetalTiger commented on #131
I to I y

On Mon, Oct 15, 2018, 00:05 trbryant97 <notifications@github.com> wrote:

[2018-10-15 20:04] trbryant97 commented on #104
Getting the same problems if you found a fix please let me know

[2018-10-23 07:06] ratoshniuk opened #132 "Generalize your lib"
Hi, @dvf !

What do you think to refactor it a bit by adding support for other languages like Golang, Scala, Rust, Haskell?

I am planning to add by myself for Golang and Scala?

I think it could increase number of users interested and build useful stuff for every interested in

[2018-10-23 07:50] dvf commented on #132
Do these languages allow you to import Python libraries or do you mean compile to C?

[2018-10-23 07:51] dvf commented on #129
Just do `pip install -U pipenv && pipenv install && pipenv shell`

[2018-10-23 07:51] #129 closed

[2018-10-23 07:51] #126 closed

[2018-10-23 07:52] dvf commented on #125
Strange, check out this guide I wrote to get a nice Python environment set up: https://gist.github.com/dvf/e35c4ac2e1e797f93427200ab5cad74c

[2018-10-23 07:52] #125 closed

[2018-10-23 09:00] ratoshniuk commented on #132
I meant implement by yourself for each programming language.

Or, we can use GraalVM for python libraries

[2018-11-05 16:48] #132 closed

[2018-11-06 23:31] alex-manutd commented on #129
Thanks everyone.  My problem persists after trying each proposed solution.
I do have pip installed.
When I cut and paste the code from Github into a file called blockchain2.py and run that, I get the same error :-|

[2018-11-09 00:57] tommosimmo commented on #127
Hi Vitya3,

You are recieving a HTTP Error 405 (Unsupported Method) as you are trying to send a Post request to the mining endpoint (/mine) instead of a GET request. If you GET [IP]:[Port]/Mine you should get a proper result :)

[2018-11-09 01:01] tommosimmo commented on #124
@JonnyDaenen the function valid_proof uses a SHA256 hash of the LastProof, the CurrentProof and the Last hash to verify the proof. I believe the lastProof is required.

[2018-11-14 18:44] alex-manutd opened #136 "404 on /nodes/register and nodes/resolve"
Hello,

I have finished coding and spun up a secondary node from my desktop computer by running a POP_OS VM in virtualbox under Bridged mode but I am stuck at 404 error.

I cannot register a new node or resolve but the routes from Steps #1 and #2, /transactions/new, /mine and /chain work fine from both nodes in both directions and even from my Samsung tablet.

I am using Postman on both nodes (Lin

[2018-11-16 05:17] alex-manutd commented on #136
Solved.
Did not see the code differences between Hackernoon and Github.

[2018-11-16 05:17] #136 closed

[2018-11-16 05:46] trbryant97 commented on #136
Did hackernoon have updated code?

[2018-11-16 14:09] alex-manutd commented on #136
I do not believe so.  For instance my problem was that I was missing 5 out of the last 6 lines of code, which are not in Hackernoon.

[2018-11-17 15:54] alex-manutd commented on #89
I'm a bit wishy washy here still.  If I set up two nodes, both running blockchain.py on the same LAN, and perform /transaction/new, /mine and /chain in both directions from both nodes both using Postman, when I register the nodes with each other then resolve, will the shorter chain and its contained blocks and transactions be discarded?

[2018-11-17 16:04] alex-manutd opened #137 "/resolve becomes non-responsive only in one direction"
Hello,
I have two nodes running on the same LAN: 1) Linux Mint using pipenv shell 2) Virtualbox running Pop_OS in bridged mode also in pipenv shell, on top of a Windows 10 base.
Both nodes are running a mirror copy of blockchain.py, I copied the file over the LAN.
When I run /resolve in Postman in the Pop_OS instance, targeting my Linux Mint node, the request does not register on the target node,

[2018-12-07 17:20] DaniellMesquita opened #138 "Is there your second post about it?"

[2018-12-07 17:23] DaniellMesquita commented on #138
Also, I consider porting it to Eventlr (using visual conditions/actions that are compiled to JavaScript).

[2018-12-10 20:17] michaelwooley opened #139 "Validating initial block?"
I'm wondering if it is necessary to include a check at the beginning of the `valid_chain` to ensure that the chain has the same history as one would expect?

For example, wouldn't it be possible for a malicious node to make itself i.) the longest node and ii.) with a self-consistent history that nonetheless starts out in a way that is advantageous to the node's owner?

Perhaps something like this:

[2018-12-30 06:12] tamuhey opened #140 "The block that has only a reward transaction is correct?"
I can `mine` even if the `current_transactions` list is empty.
It generates a block that has only a reward transaction.

Is this a correct?
Or, should be the mining prohibited if `current_transactions` list is empty?

[2018-12-30 13:05] karolymisbah commented on #140
Yes totally- Mining should be prohibited when transaction list is empty cuz
if there ain’t any stuff to transact then wtf do u shovel out?shit?

On Sunday, 30 December 2018, tamuhey <notifications@github.com> wrote:

--
Best Wishes,
Misbah
Cell: +91 9961136833

[2018-12-30 13:19] tamuhey commented on #140
Thanks for reply!
In actual block chain implementation, when the mining is allowed?
The length of the current_transaction = 1?
Or >=2 is also allowed?

2018年12月30日(日) 22:06 karolymisbah <notifications@github.com>:

--
田村陽平
e-mail: tamuhey@gmail.com

[2018-12-31 12:59] DaniellMesquita commented on #140
@dvf

[2019-01-03 14:12] fgRuslan commented on #43
@dvf Hello. Is there any news about part 2?

[2019-01-03 14:22] karolymisbah commented on #43
Part 2 is coming soon

On Thu, Jan 3, 2019, 6:13 PM Ruslan Isaev <notifications@github.com wrote:

[2019-01-07 19:23] davesie commented on #45
Sorry that I just answer now. I think I fixed it by getting the latest version of the code.
Did you get it working by now?

[2019-01-07 22:57] JimiPedros commented on #45
I did not get it working

[2019-01-08 15:03] davesie commented on #45
@JimiPedros I had to set the Body in Postman to "JSON (application/json)". Did you do that? This solved it for me.

[2019-01-10 13:53] alaa-m opened #143 "Cannot query about registered nodes"
I implemented this feature.
Kindly, Add this feature so I could be able to create the feature branch and make a pull request.

[2019-01-12 12:09] karolymisbah commented on #143
[image: AZLyrics.com] <https://www.azlyrics.com/>
Randy Houser Lyrics
Play the Randy Houser Quiz
on Melody Facts
 sort by album <https://www.azlyrics.com/r/randyhouser.html#> sort by song
<https://www.azlyrics.com/r/randyhouser.html#>
album: "Anything Goes" (2008)
Boots On <https://www.azlyrics.com/lyrics/randyhouser/bootson.html>
Anything Goes
<https://www.azlyrics.com/lyrics/randyhouser/anything

[2019-02-05 23:09] lauramayol commented on #70
@skyepodium FYI - I have solved the issue where Blockchain disappears by storing the data on a database. You can refer to my project here: https://github.com/lauramayol/my_blockchain

[2019-02-20 12:25] Cyberodd opened #145 "TypeError: new_block() got an unexpected keyword argument 'previous_hash'"
Getting this error  when I try to run my project, no idea how or why it occur and few solutions exist that even remotely resemble it.
Traceback:
(venv) C:\Users\Kanverse\PycharmProject\blockchain>python blockchain.py
Traceback (most recent call last):
  File "blockchain.py", line 146, in <module>
    blockchain = Blockchain()
  File "blockchain.py", line 18, in __init__
    self.new_block(previous

[2019-02-20 12:27] Cyberodd commented on #145
`(venv) C:\Users\Kanverse\PycharmProject\blockchain>python blockchain.py
Traceback (most recent call last):
  File "blockchain.py", line 146, in <module>
    blockchain = Blockchain()
  File "blockchain.py", line 18, in __init__
    self.new_block(previous_hash='1', proof=100)
TypeError: new_block() got an unexpected keyword argument 'previous_hash'
`

[2019-02-21 13:48] #145 closed

[2019-02-21 13:49] Cyberodd commented on #145
Files hadn't indexed in IDE

[2019-04-09 13:48] mod3021 opened #146 "nothing happens while i send requests of mine (get)"
nothing happens while i send requests of  mine (get), i only have one block(index 1)

[2019-04-26 09:47] darmut commented on #105
I downgraded requests to 2.10 and works fine now.

Darmut

[2019-04-29 15:32] darmut commented on #75
This worked for me aswell.

[2019-04-29 15:36] karolymisbah commented on #75
And it is all. Man is an animal animal is man is an

On Mon, Apr 29, 2019, 7:32 PM darmut <notifications@github.com> wrote:

[2019-05-16 16:33] spritteego opened #150 "current_transactions are not proofed"
in line 212,current_transactions are appended by rewarding coin,and this tamper the current block hash.
In Bitcoin,the current_transactions is proofed by proof of merkle_root.
Proof-of-Work function seems only solve the synchonze problem but not solve the fake transaction problem.
https://github.com/dvf/blockchain/blob/1369cac2094d36e694da1209d7d4f923264f7f50/blockchain.py#L212

[2019-06-16 17:12] MatthiasGrabner5 commented on #104
Same here. I'll search and inform you if I found a fix

[2019-06-18 15:33] MatthiasGrabner5 commented on #43
@dvf Any update on Part 2? Would still be helpful if you only released the P2P protocol.

[2019-06-18 15:40] MatthiasGrabner5 commented on #119
Until so far, I have had only nonresponsive nodes. Did you find a fix?

[2019-06-18 15:40] karolymisbah commented on #43
Dil hai ki manta nahi

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Matthias Grabner <notifications@github.com>
Sent: Tuesday, June 18, 2019 7:33:48 PM
To: dvf/blockchain
Cc: karolymisbah; Comment
Subject: Re: [dvf/blockchain] Part 2 RFC: Implementation Roadmap (#43)

@dvf<https://github.com/dvf> Any update on Part 2? Would still be helpful if you only rel

[2019-06-18 17:09] fgRuslan opened #151 "How to operate with the blockchain if it grows very large?"
@dvf
Hello. I have written a function that saves the blockchain to a JSON file and when the script is run, it is loaded from this JSON file. What if the blockchain grows **really** large? While the blockchain.py is working, the blockchain is stored in RAM. What if it grows to more gigabytes than my computer has got?
I can provide my code if you need it.

[2019-09-10 14:49] dvf commented on #151
This is a problem with all Blockchains... the Bitcoin blockchain is around 250+ GB. You can either look at compression or discard blocks older than a certain amount.

[2019-09-10 15:14] fgRuslan commented on #151
I don't know how does Bitcoin blockchain exactly work, but I don't think it tries to load a **single** 250+ GB file into RAM. Or does it?

[2019-09-17 02:15] larrycameron80 opened #152 "CRLF injection"
CRLF injection
Vulnerable module: urllib3
Introduced through: requests@2.18.4
Detailed paths
Introduced through: dvf/blockchain@dvf/blockchain#1369cac2094d36e694da1209d7d4f923264f7f50 › requests@2.18.4 › urllib3@1.22
Overview
urllib3 is an HTTP library with thread-safe connection pooling, file post, and more.

Affected versions of this package are vulnerable to CRLF injection. Attacker who has the

[2019-09-17 02:15] larrycameron80 opened #153 "Denial of Service (DOS)"
Denial of Service (DOS)
Vulnerable module: flask
Introduced through: flask@0.12.2
Detailed paths
Introduced through: dvf/blockchain@dvf/blockchain#1369cac2094d36e694da1209d7d4f923264f7f50 › flask@0.12.2
Remediation: Upgrade to flask@1.0.
Overview
Flask is a lightweight WSGI web application framework

Affected versions of this package are vulnerable to Denial of Service (DOS). The package allows fo

[2019-09-17 02:15] larrycameron80 opened #154 "Improper Certificate Validation"
Improper Certificate Validation
Vulnerable module: urllib3
Introduced through: requests@2.18.4
Detailed paths
Introduced through: dvf/blockchain@dvf/blockchain#1369cac2094d36e694da1209d7d4f923264f7f50 › requests@2.18.4 › urllib3@1.22
Overview
urllib3 is an HTTP library with thread-safe connection pooling, file post, and more.

Affected versions of this package are vulnerable to Improper Certificat

[2019-09-17 02:15] larrycameron80 opened #155 "Improper Input Validation"
Improper Input Validation
Vulnerable module: flask
Introduced through: flask@0.12.2
Detailed paths
Introduced through: dvf/blockchain@dvf/blockchain#1369cac2094d36e694da1209d7d4f923264f7f50 › flask@0.12.2
Remediation: Upgrade to flask@0.12.3.
Overview
flask is a lightweight WSGI web application framework.

Affected versions of this package are vulnerable to Improper Input Validation. It did not de

[2019-09-17 02:16] larrycameron80 opened #156 "Information Exposure"
Information Exposure
Vulnerable module: requests
Introduced through: requests@2.18.4
Detailed paths
Introduced through: dvf/blockchain@dvf/blockchain#1369cac2094d36e694da1209d7d4f923264f7f50 › requests@2.18.4
Remediation: Upgrade to requests@2.20.0.
Overview
Requests is a Non-GMO HTTP library for Python

Affected versions of this package are vulnerable to Information Exposure. Upon receiving a sam

[2019-09-17 02:16] larrycameron80 opened #157 "Authentication Bypass"
Authentication Bypass
Vulnerable module: urllib3
Introduced through: requests@2.18.4
Detailed paths
Introduced through: dvf/blockchain@dvf/blockchain#1369cac2094d36e694da1209d7d4f923264f7f50 › requests@2.18.4 › urllib3@1.22
Overview
urllib3 is a HTTP library with thread-safe connection pooling, file post, and more.

Affected versions of this package are vulnerable to Authentication Bypass. It did

[2019-09-25 14:22] dvf commented on #151
Not into RAM, but into its file-based Level DB: https://en.bitcoin.it/wiki/Bitcoin_Core_0.11_(ch_2):_Data_Storage

[2019-09-25 14:23] #151 closed

[2019-10-02 14:16] joekewl70 opened #159 "I need a bunch of those bcoin cashed into my TD Bank account.....they were good right? I'm broke....homeless... my daughter is I. Foster care.....my wife is on the street......I knew they were good.....why did you stop them?"
That was a year and a half of my life... 80 hour weeks....trying to get my life and my family together.....and you stopped it every time? Why?

[2019-10-02 14:21] joekewl70 commented on #159
I need like 20 M......keep the rest.....
I just want my family back together set for the rest of our lives....do you realize I almost committed suicide while you withheld this all? My wife Lmosy commited suicide.....our daughter was taken by the ministry.....and you just kept every thing I made.........I dedicated my life to set my family up.........NOW can you set me up???? I want to go get my da

[2019-10-02 14:22] joekewl70 commented on #159
Its been a terribly rough 2 years

[2019-10-02 14:24] joekewl70 commented on #159
TD Canada Trust 98860 004 6160779...... And please let her know....get a lawyer to get my daughter..... Please

[2019-10-02 14:25] ourway commented on #159
Amazing that a spammer broke my concentration time to beg for money. Get out of here.

[2019-10-02 14:28] joekewl70 commented on #159
These are my files you fuck

[2019-10-02 14:29] joekewl70 commented on #159
Looks like I'm smarter then you if I could do all this you freak

[2019-10-02 14:29] joekewl70 commented on #159
I'll report all this sjotif it's not released

[2019-10-02 14:32] joekewl70 commented on #159
I'm not asking for much...... just Enoch to be comfortable...
I created approx 500 B so what's fucking 20M?

[2019-10-02 14:33] joekewl70 commented on #159
And yes I love my family please

[2019-10-02 14:33] ourway commented on #159
@dvf Please ban this user.

[2019-10-02 14:34] joekewl70 commented on #159
@dvf please hear my plea

[2019-10-02 16:01] #159 closed

[2019-10-08 03:38] XiaShe opened #161 "500 Internal Server Error"
when I post http://localhost:5000/transactions/new

[2019-10-08 06:45] #161 closed

[2019-11-01 22:50] ehammo commented on #139
this!

[2019-11-01 23:10] ehammo commented on #104
All working fine. You guys are probably not setting the type of the body in the POST to json. If you send the body as text is not going to work.

[2019-11-01 23:14] ehammo commented on #146
Only mining does not generate a new block, only a new transation from "0" to you. You also get a hash. If you use that hash you may generate a new transation from you to someone.  then that will generate a new block

[2019-11-01 23:22] ehammo commented on #77
Why was this reverted? And why was that a fix?

[2019-11-20 14:51] flydragon2018 opened #165 "how to call /node/register or /node/resolve ?"
the last two pictures are too small to see the URLs
Perhaps write  commands in more detail how to call /node/register  or /node/resolve?

 localhost:5000/node/register
I got URL not found error.

[2019-11-21 09:00] #165 closed

[2019-11-21 09:00] flydragon2018 commented on #165
I did use postman before.  after installing one, I got it.

[2019-11-25 05:54] Victorvick399 commented on #129
It did not work and error message is
Traceback (most recent call last):
  File "manage.py", line 1, in <module>
    from app import create_app,db
  File "/home/victor/Documents/Pitches/app/__init__.py", line 1, in <module>
    from flask import Flask
ImportError: cannot import name 'Flask'

[2019-11-28 11:46] single010203 opened #166 "It’s beautiful job ！I want know more by communicating with you"
When are you usually online, let's have a chat.

[2019-11-28 11:49] single010203 commented on #166
Is this a blockchain simulator? Is it the simplest blockchain simulator?

[2019-11-28 11:51] single010203 commented on #166
What do you think is the most needed blockchain tutorial on the market right now? In other words, what is the most practical and simple blockchain application that best represents the future development direction of blockchain?

[2019-12-20 06:07] saikiran994 opened #167 "getting error at import requests and blockcahin = Blockcahin"
i tried in windows system and its not working and giving to my errors
![Screenshot (12)](https://user-images.githubusercontent.com/37449869/71233938-1b768f80-231d-11ea-9a63-994af956c50d.png)

[2019-12-20 17:32] chris8447 opened #168 "Exception when sending mine request"
I get following Exception in my terminal when executing the mine request:

`Exception happened during processing of request from ('127.0.0.1', 57087)
Traceback (most recent call last):
  File "/Users/chris/anaconda/lib/python3.5/socketserver.py", line 313, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/Users/chris/anaconda/lib/python3.5/socketserver.py", line

[2019-12-20 17:36] chris8447 commented on #168
I figured it out. I will open a pull request

[2019-12-21 18:15] saikiran994 opened #170 "not getting proper output"
when i tried to run program in pychram with 3.7 version its showing always same timestamp and requests which is shown in below picture
![Screenshot (13)](https://user-images.githubusercontent.com/37449869/71311994-fb91b980-244b-11ea-8832-d8c27f5a17e4.png)

[2019-12-30 18:44] saikiran994 opened #171 "how to add new users and some more chains to blockchain"

[2020-01-18 09:26] franpog859 commented on #102
Hey! I'd love to see the mentioned part 2 of this tutorial/ example! Is there any chance it will appear somewhere there soon?

[2020-01-18 09:35] franpog859 commented on #43
@dvf Hey! I'd love to see the second part of this tutorial/ example! Is there any chance it will appear somewhere there soon?

[2020-01-20 14:59] unchanthou commented on #127
{"iv":"bPBFAeiXOSu5nVhUUe12fQ==","v":1,"iter":10000,"ks":128,"ts":64,"mode":"ccm","adata":"","cipher":"aes","salt":"5D+qrhcIQuw=","ct":"9ic7kRgxJqHysW6tBRS5F8JnXgWItM1wzqZOZ1ePD6RN1DBG/eOgaLbLMtDfiy1VXXEBk2LdOw0hgLV20CMe2ow3uKc9pzwfst9l+RF5bvWkHhVQkss5gTXIImE5hJqhrWm0ZXEn+/ZlUY7zGhQQgo3ZvSkym85gwIIZeFQf51FRIdMOPxYfZKaYSOYC52e0AR1CI90W8T1GOnxRLns5U9lkcvVshHO9wuJ3oxT4XMWxeb3fcog3X0ZVq1dpjrVuoJoUQVKt

[2020-01-20 15:00] unchanthou commented on #127
Name:OUN CHANTHOU, Day Of Birth(11/Sep/1991), National ID card(061989357), CAMBODIA.

[2020-01-20 15:00] unchanthou commented on #127
ABA account Number (001276306)Visa card Number (4286090193871330)(12/24)(983)

[2020-01-20 15:00] unchanthou commented on #127
st.2004,StuengMeanchey ,Phnom Penh.Cambodia.OUN CHANTHOU0715995497

[2020-01-20 15:02] unchanthou opened #172 "Visa card Number (4286090193871330)(12/24)(983)"
ABA account Number (001276306)Visa card Number (4286090193871330)(12/24)(983)Name:OUN CHANTHOU, Day Of Birth(11/Sep/1991), National ID card(061989357), CAMBODIA.0715995497

[2020-01-20 15:03] unchanthou commented on #172
thousamsung0168@gmail.com

[2020-01-20 15:03] #172 closed

[2020-01-20 15:03] unchanthou commented on #172
ABA account Number (001276306)Visa card Number (4286090193871330)(12/24)(983)Name:OUN CHANTHOU, Day Of Birth(11/Sep/1991), National ID card(061989357), CAMBODIA.0715995497

[2020-01-26 18:45] Maver-ck opened #173 "Question | Not an issue - about limit to number of blocks"
Hi,

Thanks for putting this code up, really helped me understand how blockchains work!

Is there a limit to how many blocks you can have with this code?

Thanks,

Yasser

[2020-02-06 11:58] hkbiet commented on #43
comments please

[2020-02-06 16:10] fgRuslan opened #174 "I have implemented transaction validation using PyNaCl"
Check out my repo: https://github.com/fgRuslan/blockchain
However, I extracted some things from Blockchain.py so it might take you some time to understand how it works.

[2020-02-17 06:07] Harishyadav766 commented on #129
for me also it coming same error even though i installed all dependencies. can any one help me out with this

Traceback (most recent call last):
  File "flask.py", line 1, in <module>
    from flask import Flask
  File "/home/harishwojtyla/Desktop/flask-jwt/tests/flask.py", line 1, in <module>
    from flask import Flask
ImportError: cannot import name 'Flask'

[2020-02-21 10:23] phonerefer commented on #55
I am running a python app in Ubuntu server and i am getting same error. But! same app is running fin in my local machine.
[code]
Don't understand what is problem is.

[2020-02-23 12:33] Srivishiv opened #175 "500 Internal Server Error when trying to implement /transactions/new and /nodes/register methods"
when i tried to access /mine and /chain methods in postman, there is no problem.
But when calling the methods /transactions/new and nodes/register, there is an error saying "Internal Server error" :
The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.

[2020-03-04 20:50] pheu opened #176 "Internal error on calling /mine [GET]"
I followed the instruction. Tried http://localhost:80/mine in postman.

[code]

System Windows 10, Docker version 2.2.0.3.

Btw. The strange thing is that it shows it's running on 0.0.0.0 instead of 127.0.0.1.

[2020-03-12 08:39] sportshead commented on #175
You're probably using a `GET` request, but you should be using a `POST` request with `JSON` data.

[2020-03-20 17:08] PicoPlanetDev commented on #123
Sorry to be a bit behind, but I got the same errors and had instead to upgrade Flask and Requests:
`pip install flash --upgrade`
`pip install requests --upgrade`

That did it for me on Python 3.8.

[2020-03-20 17:09] PicoPlanetDev commented on #105
I had a similar problem on Python 3.8 which was fixed by upgrading Flash and Requests to the newest version.

[2020-03-25 12:28] parul-k opened #177 "404 Not Found"
Hi Friends, I am new to Block chain. I am trying to learn block chain with the  help of documentation provided here.
In blockchain.py file I have changed the following code:
app.run(host='0.0.0.0', port=port) to
app.run(host='127.0.0.1', port=port)
but instead of showing any results, it is displaying the 404 Not Found Error,
--- The requested URL was not found on the server. If you entered the URL

[2020-04-12 04:57] bigcook12345 opened #178 "Cooks123"
- - []() bigcook123

[2020-04-22 07:25] #178 closed

[2020-05-10 00:11] SwissRoll commented on #176
It's no problem that it's running on 0.0.0.0, you can hit the endpoint at http://localhost:5000.

As for the error, Flask has a dependency that received a major version update somewhat recently. The easiest fix is to upgrade your version of Flask by running `pip install --upgrade Flask`.

Check out this stackoverflow answer for more details and a different solution: https://stackoverflow.com/a/601

[2020-05-11 07:23] xiaohui96 commented on #170
i faced the same problem, how could you solve it finally?

[2020-05-11 13:36] xiaohui96 opened #179 "access failed"
i run three blockchain.py in port 5000 50001 5002 in three terminal, i can acesss the http://127.0.0.1:5000/chain, and it works. However, the http://127.0.0.1:50001/chain and http://127.0.0.1:5002/chain, i failed by "AttributeError:'Request' object has no attribute' is_xhr", why?

[2020-05-14 02:54] xiaohui96 opened #180 "how to use this blockchain.py"
ls there any instructions or readme.md on how to use blockchain.py?

[2020-05-30 13:02] CaydendW commented on #129
Have you named your project flask.py or Flask.py? If you have, change it. It is trying to import itself and is failing causing an import error.

[2020-06-07 19:16] throwawat99 opened #181 "/transactions/new TypeError: argument of type 'NoneType' is not iterable"
I keep getting the error in the title when using Postman, any ideas? I have followed and checked the instructions

[2020-06-23 11:03] ryhanahmedtamim opened #182 "ERROR: Command errored out with exit status 1: during mysqlclient ERROR: Command errored out with exit status 1:"

[2020-07-05 13:40] Sam-prog-sudo commented on #181
Maybe, you used a GET request where there should be a POST request?

[2020-07-06 23:51] umamaheswari-ui opened #183 "how to solve this?"
Hi all,

gokul@gokul:~$ docker run --rm -p 80:5000 blockchain
Unable to find image 'blockchain:latest' locally
docker: Error response from daemon: pull access denied for blockchain, repository does not exist or may require 'docker login'.
See 'docker run --help'.

how to solve the above issue?

[2020-08-07 19:43] xmdys072 commented on #181
Perhaps this will work, in Postman, click the choice "Body", choose "RAW", and at the right side of the choice "GraphQL", change the "Text" to "JSON"

[2020-08-16 12:00] kimim commented on #180
I think you can follow this link: https://hackernoon.com/learn-blockchains-by-building-one-117428612f46

[2020-09-21 10:19] dishaparekh213 opened #184 "500 Internal Server Error"
I am getting this error while using POST in postman. Please help

[2020-09-21 11:21] dishaparekh213 commented on #181
It still isn't working

[2020-09-28 19:47] Abderrahmane-Boujendar commented on #129
@CaydendW  you are a life saver tanks bro

[2020-09-29 05:48] CaydendW commented on #129
Glad I could help @Abderrahmane-Boujendar

[2020-10-14 19:49] Intecpsp commented on #102
I'm here to drop another "like" and bump to part 2!

[2020-11-08 06:04] getkirill commented on #184
Same

[2020-11-25 10:12] rutefig commented on #105
If you change the format of your POST data in Postman, instead of Text (is pre selected) you select JSON it works fine
![postman](https://user-images.githubusercontent.com/23409167/100213587-b3ee9a00-2f06-11eb-9c8e-25ba9674f278.png)

[2021-01-06 19:14] mhkna commented on #184
Be sure that raw type is json not text

[2021-01-09 17:46] gabrielcalderon commented on #43
@dvf Any updates on this? 🔥

[2021-02-01 22:14] 3angel opened #192 "donate for all"
Donate for All

https://github.com/3angel/Donate-for-all

[2021-02-07 00:40] teruuuuuu commented on #184
I worked by adding `app.config['JSONIFY_PRETTYPRINT_REGULAR'] = False` to `blockchain.py`.

[code]

[2021-02-17 23:13] Frankenhorn911 commented on #184
Thanks @teruuuuuu ! Your solution worked for me too.

[2021-02-21 21:31] drandrewcharles opened #194 "M-Saidizi ™ Blockchain System"

[2021-03-13 05:55] MatheusMoura17 opened #195 "Question: Version transported to typescript"
Hi!

I searched for blockchain for a long time and never understood how it worked programmatically, after following the article on `Medium` and seeing the implementation here on` GitHub` I finally understood, I followed step by step transposing a version to typescript, which I intend to add improvements and use in other projects.

If anyone is interested here is the link .: https://github.com/Math

[2021-04-04 13:31] aayushsaini commented on #181
You guys must have been writing the body part for the POST request wrong in the postman.
Try entering this inside the body section and then send the POST request
[code]

[2021-04-04 13:35] rick12334 commented on #181
LoL Hey sorry about that but I wasn’t paying no attention and start kidding
about but that’s funny.

On Sun, Apr 4, 2021 at 8:31 AM Aayush Saini ***@***.***>
wrote:

--
Impossible

[2021-04-07 04:16] adityapant1286 commented on #183
Please provide more details on "i couldn't get anything". The last line says docker instance is running and service is available on port 5000. More details you provide will help to respond quicker.

What does it show on postman?

[2021-04-07 04:21] umamaheswari-ui commented on #183
I got the answer sir.
Thank you for your reply.
Thank You so much.
--

Thanks and Regards,

K.Uma Maheswari,
Research Scholar/CSE,
NIT - Trichy,
Tamilnadu, India - 620015.
Phone: 962 962 04 64

[2021-04-15 12:03] parsalotfy opened #199 "Proof of Stake"
Thank you for creating this repository and your tutorials on Medium.
Today, lots of coins are going to implement proof of stake instead of proof of work such as Ethereum 2.0.
It would be great to implement a Blockchain with proof of stake.
It was just an idea 🙂
Regards.

[2021-04-29 22:58] MohammedAlrozzi opened #200 "the code does not work on python 3.9"

[2021-05-06 12:08] jkoniecznyy commented on #200
Try changing the requirements.txt to:
[code]

[2021-05-14 15:50] mrpbennett opened #201 "TypeError: argument of type 'NoneType' is not iterable"
Within the end point `'/transactions/new'`

it seems that `values = request.get_json()` is None

I get the following error:

[code]

Flask docs state `request.get_json()` will return None by default. I have also tried the source code and get the same error.

This is the debug output from pycharm

[code]

[2021-05-18 16:29] Bchass commented on #201
Update the line to `values = request.get_json(force=True)`

[2021-05-18 17:59] mrpbennett commented on #201
yup just changed that and it works.

`values = request.get_json(force=True)` was going to post my answer.

[2021-05-18 17:59] #201 closed, assigned to nobody

[2021-05-18 20:10] kajvans opened #202 "Says that there is no module called requests"
i did install pipenv flask and requests like they said the the correct versions but I get this error:
[code]

I also tried the newest versions of the modules but nothing is working. i reinstalled python and pip but also did not work. any way I can fix this.

[2021-05-19 07:22] #202 closed, assigned to nobody

[2021-05-19 07:22] kajvans commented on #202
you need to do pipenv install <module>

[2021-05-23 02:27] Samthebest999 opened #204 "All Users Don't Get Their Own Address!"
So I have tested this using 2 computers on the same network. The problem is that I can't create a transaction between the two because the both have the same address because they are both connected to the same node and each node has its own address. So if two devices are connected to the same node they will both have the same address. This doesn't work out!!

[2021-06-28 20:10] ceceba223 opened #206 "request.get_json() returns (Ellipsis, Ellipsis)"
I'm trying to follow [this](https://hackernoon.com/learn-blockchains-by-building-one-117428612f46) article on building a simple blockchain. But right now I'm stuck at step 3: "Interacting with our Blockchain"
I tried accessing the `http://localhost:5000/transactions/new` using cURL with the following commands:

`curl -X POST -H "Content-Type: application/json" -d '{"sender": "d4ee26eee15148ee92c6c

[2021-06-28 20:36] adnantourak opened #207 "blockchain"
need help please to create crypto blockchain project and platform need a team for a community project https://discord.gg/sjX59htzFM

[2021-07-17 22:05] vreaw commented on #206
I'm having the same problem! Any updates? did you manage to solve it?

[2021-07-17 22:17] vreabernardo commented on #206
I was able to solve the problem.

the problem is in the Flask version of the original article, try to reinstall it and it should work!

[2021-08-06 20:38] osamovic commented on #204
I confirm

[2021-08-22 06:52] apoorvpandey0 commented on #204
How to fix this? or why is this happening any idea?

[2021-08-24 01:15] Samthebest999 commented on #204
No idea.

[2021-09-03 10:41] TalMoshel1 commented on #129
hey guys, did all the solutions you have written,
still got the problem: cannot import name 'Flask' from 'flask'
any more help?

[2021-09-03 16:07] CaydendW commented on #129
What's the file name for your project?

[2021-09-04 15:08] TalMoshel1 commented on #129
its "API endpoints.py"
thank you

[2021-09-18 11:39] TalMoshel1 opened #209 "JS missing output on VSC"
Hey,
I already installed "node", javaScript es6 and code runner.
here is the problem in picture:

![js_fail](https://user-images.githubusercontent.com/89250740/133887523-3b55ef8a-d1ba-4694-a1e7-1d2973b754cf.png)

I would like you to help me understand please, why its happen?
thanks

.

[2021-09-26 20:37] RemmyLee commented on #181
This is the correct solution.

[2021-10-01 00:23] ganeshnic opened #210 "CreateTransaction(sender: "0", recipient: NodeId, amount: 1); in C# Implementation"
Dear Sir,
In C# project for Blockchain...

In             CreateTransaction(sender: "0", recipient: NodeId, amount: 1);
 1.   why the sender is "0"   ??
Also  after running   http://localhost:12345/transactions/new{ "Amount":123, "Recipient":"ebeabf5cc1d54abdbca5a8fe9493b479", "Sender":"31de2e0ef1cb4937830fcfd5d2b3b24f" }  nothing happens also after http://localhost:12345/mine   amount in transact

[2021-11-07 12:12] tylerdurden793 opened #212 "My block"

[2021-11-18 10:05] saleh-touil commented on #177
same here any help ?

[2021-11-18 11:19] clearlove520 commented on #200
Thank you

[2021-11-19 02:02] rahulfromearth commented on #212
Please provide more details or close this issue

[2021-11-19 16:07] Miseriayi commented on #184
post with json data

[2021-11-20 08:37] parul-k commented on #177
Hi Saleh,
This did not work for me. I used this one instead of that:
https://github.com/satwikkansal/python_blockchain_app

On Thu, Nov 18, 2021 at 3:35 PM Saleh Eddine Touil ***@***.***>
wrote:

[2021-11-21 15:11] yanxwb commented on #204
Maybe we can change the method of mine from 'get' to 'post', and give an address? Then change the recipient from node_identifier to the given address?

[2021-11-24 17:25] Samthebest999 commented on #204
possibly.

On Sun, Nov 21, 2021 at 9:11 AM yanxwb ***@***.***> wrote:

[2021-12-01 09:51] Danielratmiroff commented on #105
Thank you! that was it

[2021-12-05 13:41] driftalong2 commented on #86
It doesn't seem to work

[2021-12-10 19:41] stremblayIntelener commented on #206
I had the exact same issue, the updating version of Flask did it for me too. Thank for the fix.

[2021-12-20 09:42] codemaker2015 commented on #105
Try to set force attribute as True in get_json() method to resolve this issue.

`request.get_json(force = True)`

[2021-12-26 16:47] Shoyalraza opened #214 "Blockchain"

[2022-01-02 09:58] sfz009900 opened #215 "nodes/resolve"
Excuse me, I first set up 127.0.0.1:5001, then called mine 6 times,
and called /transactions/new several times in the second time to get the following block:

    {
      "index": 2,
      "previous_hash": "5d988208db5c04a5b35e1fc32103a9bc32e884ecc70c639a53b9b2ebfbe8ad1b",
      "proof": 43434,
      "timestamp": 1641113376.5464342,
      "transactions": [
        {
          "amount": 5,

[2022-01-02 17:41] MoH-MuRRa commented on #215
How were you able to do actions from other ports?
For example if you run the program using the port 5000, then how could you mine, get chain, etc using other ports. When I add a new node (5001 for example) and try to get the chain from that node (50001/chain) i get an error

[2022-01-02 17:47] sfz009900 commented on #215
You need to run two copies of blockchain.py, the first with a default port and the second with --port 5001

[2022-01-02 17:58] MoH-MuRRa commented on #215
How can this be done?
Isn't the program supposed to stop and run again with the new specified
port.
Hope that you can mention specific details bro. I'm using vs code.
Thanks in advance.

On Sun, 2 Jan 2022, 7:47 pm sfz009900, ***@***.***> wrote:

[2022-01-02 18:10] sfz009900 commented on #215
Vs I don't know, but for Python, it is possible to open both CMD's at the same time and run python36 blockchain.py and python36 blockchain.py respectively --port 5001

[2022-01-02 18:15] MoH-MuRRa commented on #215
Can you help me bro and send a screenshot on how this can be done?
It would be much appreciated :)

On Sun, 2 Jan 2022, 8:10 pm sfz009900, ***@***.***> wrote:

[2022-01-02 18:20] sfz009900 commented on #215
![QQ图片20220103022010](https://user-images.githubusercontent.com/19549361/147885492-d62557db-479f-4f74-8e76-60cd9b2d4bcd.png)

[2022-01-02 18:21] sfz009900 commented on #215
![QQ图片20220103022010](https://user-images.githubusercontent.com/19549361/147885505-988645c8-371b-462c-9c16-676f834a62f6.png)
id&referrer=utm_campaign%3Dnotification-email%26utm_medium%3Demail%26utm_source%3Dgithub <https://play.google.com/store/apps/details?id=com.github.android&referrer=utm_campaign%3Dnotification-email%26utm_medium%3Demail%26utm_source%3Dgithub>. You are receiving this because y

[2022-01-02 20:23] MoH-MuRRa commented on #215
Thanks man. I don't know what can I do in return. I really appreciate
what you are doing. I just want to ask if nodes/resolve is working for you.
I get an error when I run it

On Sun, 2 Jan 2022, 8:21 pm sfz009900, ***@***.***> wrote:

[2022-01-02 21:35] MoH-MuRRa commented on #136
I have an error with nodes/resolve. When I try to activate it before registering a node it works fine, but after I register a new node and try to do it again I get an error number 500. U know why?

[2022-01-02 21:57] MoH-MuRRa opened #216 "/nodes/resolve throws error 500 after registering a node"
Hello, /nodes/resolve works fine on both ports (5000 and 5001 in my case) before registering. After I register node 5001 and try to call the command using the node 5000(:5000/nodes/resolve) I get an error 500
@dvf

[2022-01-03 09:31] MoH-MuRRa commented on #215
It worked thank you. One issue remained is that after I register a node,
the nodes/resolve stops working when I call it. I get an error 500. When I
checked the terminal there was a bunch of errors

On Sun, 2 Jan 2022, 8:21 pm sfz009900, ***@***.***> wrote:

[2022-01-03 09:46] MoH-MuRRa commented on #104
@ehammo All are working except nodes/resolve for me. Before I register a node it was working well. After that when I try to call it from the port 5000 which has port 5001 registered on it I get an error. When I open the terminal I get a lot of errors

[2022-01-12 03:04] mian24 commented on #176
Is it resolved?

[2022-01-12 03:05] mian24 commented on #176
My problem is similar to yours:
![image](https://user-images.githubusercontent.com/53547214/149056721-a3342234-598d-4023-a88b-70079147a2fc.png)

[2022-01-14 17:51] nkrsnich opened #217 "Order of submission mining/transactions"
First ...this tutorial is just great.  I'm new and learning.
Is the script such that you submit a mining request and then send the transaction?
How can the program be adjusted for smart contracts/dfiapps?
Is the blockchain such that it is a global directory that can accept different and multiple submissions (transactions)..$, smartcontracts, dapps..etc.?

[2022-01-20 09:56] Barten74 commented on #105
In my case the reason was that my json file had format: {'name': 'John'}. But then I found error that says "Expecting property name enclosed in double quotes". So I changed json file to {"name": "John"} and it worked.

[2022-04-08 22:40] jessedoka commented on #216
U did use a POST request right?

[2022-04-08 22:54] MoH-MuRRa commented on #216
I passed my course a long time ago XD, but it worked in the end.

Anyway thank you Sir.

On Sat, 9 Apr 2022, 1:41 am Jesse, ***@***.***> wrote:

[2022-04-21 02:41] ljy545 opened #220 "blockchain"
I am sending you 1π! Pi is a new digital currency developed by Stanford PhDs, with over 33 million members worldwide. To claim your Pi, follow this link https://minepi.com/wuhh123 and use my username (wuhh123) as your invitation code.If 1Pi=100000$ today, how would you arrange your digital assets?？

And I will not hesitate to use 20% to buy a car and a house, and then use 30 to invest, and the rem

[2022-06-08 06:42] holooeKT commented on #220
是真的吗？

[2022-06-08 06:43] ljy545 commented on #220
当然！

[2022-10-29 10:20] kubade220 opened #224 "Tt"

[2022-11-10 04:53] #224 closed, assigned to nobody

[2022-11-17 22:36] paddy960609 opened #227 "ImportError: cannot import name 'app_ctx' from 'flask.globals'"
I kept getting this error every time I ran my code and stack overflow solutions didn't help me either so I figured I would come here for help.
My main.py is as follows:

from flask import Flask, render_template
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)

##Connect to Database
app.config['SQLALCHEMY_DATABASE_URI'] = 'sqlite:///cafes.db'
app.config['SQLALCHEMY_TRACK_MODIFICATIONS

[2022-11-29 13:16] Bilal123455664 opened #233 "Blockchain"
I want to be a blockchain engineer